openapi: 3.0.0
info:
  contact:
    email: dev@withvayu.com
    name: "Vayu, Inc"
    url: https://withvayu.com
  description: |-
    The Vayu API is a RESTful API that allows you to submit events for processing and storage & manage billing related entities.
              The API is secured using the Bearer Authentication scheme with JWT tokens.
              To obtain a JWT token, please contact Vayu at team@withvayu.com
  title: Vayu API
  version: 1.0.0
servers:
- description: Production server
  url: https://connect.withvayu.com
- description: Sandbox server
  url: https://staging-connect.withvayu.com
tags:
- description: The auth tag is used for endpoints related to authentication and authorization.
  name: auth
- description: The events tag is used for endpoints related to event ingestion.
  name: events
- description: The customers tag is used for endpoints related to customer management.
  name: customers
- description: The meters tag is used for endpoints related to meter management.
  name: meters
- description: The contracts tag is used for endpoints related to contract management.
  name: contracts
- description: The invoices tag is used for endpoints related to invoice management.
  name: invoices
- description: The credits tag is used for endpoints related to credit management.
  name: credits
- description: The webhooks tag is used for endpoints related to webhook management.
  name: webhooks
paths:
  /catalogProducts:
    get:
      description: Get a list of Catalog products.
      operationId: listCatalogProducts
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          $ref: '#/components/schemas/Limit'
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          $ref: '#/components/schemas/Cursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCatalogProductsResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: List Catalog products
      tags:
      - catalog-products
    post:
      description: Create a new Catalog product.
      operationId: createCatalogProduct
      requestBody:
        $ref: '#/components/requestBodies/CreateCatalogProductRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCatalogProductResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Create Catalog product
      tags:
      - catalog-products
  /catalogProducts/{catalogProductId}:
    delete:
      description: Delete a Catalog product by id.
      operationId: deleteCatalogProduct
      parameters:
      - explode: false
        in: path
        name: catalogProductId
        required: true
        schema:
          $ref: '#/components/schemas/CatalogProductId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCatalogProductResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Delete Catalog product
      tags:
      - catalog-products
    get:
      description: Get a Catalog product by id.
      operationId: getCatalogProduct
      parameters:
      - explode: false
        in: path
        name: catalogProductId
        required: true
        schema:
          $ref: '#/components/schemas/CatalogProductId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogProductResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get Catalog product
      tags:
      - catalog-products
    put:
      description: Update a Catalog product by id.
      operationId: updateCatalogProduct
      parameters:
      - explode: false
        in: path
        name: catalogProductId
        required: true
        schema:
          $ref: '#/components/schemas/CatalogProductId'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateCatalogProductRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCatalogProductResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Update Catalog product
      tags:
      - catalog-products
  /customers:
    get:
      description: Get a list of Customers.
      operationId: listCustomers
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          $ref: '#/components/schemas/Limit'
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          $ref: '#/components/schemas/Cursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: List Customers
      tags:
      - customers
    post:
      description: Create a new Customer.
      operationId: createCustomer
      requestBody:
        $ref: '#/components/requestBodies/CreateCustomerRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCustomerResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Create Customer
      tags:
      - customers
  /customers/{customerId}:
    delete:
      description: Delete a Customer by id.
      operationId: deleteCustomer
      parameters:
      - explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCustomerResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Delete Customer
      tags:
      - customers
    get:
      description: Get a Customer by id.
      operationId: getCustomer
      parameters:
      - explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerResponse'
          description: response contains the customer matching the provided externalId
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get Customer
      tags:
      - customers
    put:
      description: Update a Customer by id.
      operationId: updateCustomer
      parameters:
      - explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateCustomerRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Update Customer
      tags:
      - customers
  /meters/{meterId}:
    delete:
      description: Delete a Meter by id.
      operationId: deleteMeter
      parameters:
      - explode: false
        in: path
        name: meterId
        required: true
        schema:
          $ref: '#/components/schemas/MeterId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteMeterResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Delete Meter
      tags:
      - meters
    get:
      description: Get a Meter by id.
      operationId: getMeter
      parameters:
      - explode: false
        in: path
        name: meterId
        required: true
        schema:
          $ref: '#/components/schemas/MeterId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMeterResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get Meter
      tags:
      - meters
    put:
      description: Update a Meter by id.
      operationId: updateMeter
      parameters:
      - explode: false
        in: path
        name: meterId
        required: true
        schema:
          $ref: '#/components/schemas/MeterId'
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateMeterRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMeterResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Update Meter
      tags:
      - meters
  /meters:
    get:
      description: Get a list of Meters.
      operationId: listMeters
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          $ref: '#/components/schemas/Limit'
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          $ref: '#/components/schemas/Cursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMetersResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: List Meters
      tags:
      - meters
  /contracts/{contractId}:
    delete:
      description: Delete a Contract by id.
      operationId: deleteContract
      parameters:
      - explode: false
        in: path
        name: contractId
        required: true
        schema:
          $ref: '#/components/schemas/ContractId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteContractResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Delete Contract
      tags:
      - contracts
    get:
      description: Get a Contract by id.
      operationId: getContract
      parameters:
      - explode: false
        in: path
        name: contractId
        required: true
        schema:
          $ref: '#/components/schemas/ContractId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get Contract
      tags:
      - contracts
  /contracts:
    get:
      description: List contracts for the account. Optionally filter by customerId
        to retrieve contracts for a specific customer.
      operationId: listContracts
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          $ref: '#/components/schemas/Limit'
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          $ref: '#/components/schemas/Cursor'
        style: form
      - explode: true
        in: query
        name: customerId
        required: false
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContractsResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: List contracts
      tags:
      - contracts
    post:
      description: Create a new Contract.
      operationId: createContract
      requestBody:
        $ref: '#/components/requestBodies/CreateContractRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContractResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Create Contract
      tags:
      - contracts
  /measurements:
    get:
      description: Get a list of Measurements.
      operationId: listMeasurements
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          $ref: '#/components/schemas/Limit'
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          $ref: '#/components/schemas/Cursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMeasurementsResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: List Measurements
      tags:
      - measurements
    post:
      description: Create a new Measurement.
      operationId: createMeasurement
      requestBody:
        $ref: '#/components/requestBodies/CreateMeasurementRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMeasurementResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Create Measurement
      tags:
      - measurements
  /measurements/{measurementId}:
    delete:
      description: Delete a Measurement by id.
      operationId: deleteMeasurement
      parameters:
      - explode: false
        in: path
        name: measurementId
        required: true
        schema:
          $ref: '#/components/schemas/MeasurementId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteMeasurementResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Delete Measurement
      tags:
      - measurements
    get:
      description: Get a Measurement by id.
      operationId: getMeasurement
      parameters:
      - explode: false
        in: path
        name: measurementId
        required: true
        schema:
          $ref: '#/components/schemas/MeasurementId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMeasurementResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get Measurement
      tags:
      - measurements
  /invoices/{invoiceId}:
    get:
      description: Get a Invoice by id.
      operationId: getInvoice
      parameters:
      - explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          $ref: '#/components/schemas/InvoiceId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvoiceResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get Invoice
      tags:
      - invoices
  /customer-relations:
    post:
      description: Create a new Customer relation.
      operationId: createCustomerRelation
      requestBody:
        $ref: '#/components/requestBodies/CreateCustomerRelationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCustomerRelationResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Create Customer relation
      tags:
      - customers
  /customer-relations/{customerRelationId}:
    get:
      description: Get a Customer relation by id.
      operationId: getCustomerRelation
      parameters:
      - explode: false
        in: path
        name: customerRelationId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerRelationId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerRelationResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get Customer relation
      tags:
      - customers
  /login:
    post:
      description: |-
        This endpoint is designed to acquire a temporary access token.
            Submit the auth token in the request body to obtain a new access token.
            Use this new token for subsequent API calls. Token is set to expire every hour.
      operationId: login
      requestBody:
        $ref: '#/components/requestBodies/LoginRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Login by obtaining a new access token
      tags:
      - auth
  /events/delete-by-refs:
    post:
      description: "Delete multiple events, identified by ref, in a single request."
      operationId: deleteEventsByRefs
      requestBody:
        $ref: '#/components/requestBodies/DeleteEventsByRefsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteEventsByRefsResponse'
          description: Contains the events that were removed along with deletion metadata.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Delete events by refs
      tags:
      - events
  /events/dry-run:
    post:
      description: "Use this endpoint to send an array of events for processing. Make\
        \ sure to comply with the request schema for each event. NOTE: this is a dry\
        \ run and will not result in actual storage of the events."
      operationId: sendEventsDryRun
      requestBody:
        $ref: '#/components/requestBodies/EventsDryRunRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsDryRunResponse'
          description: Events with their corresponding meter and customer data.
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Submit a batch of events for testing
      tags:
      - events
  /events:
    get:
      description: Fetch events occurring within a specified timestamp range. An optional
        event name can be provided to further filter the events.
      operationId: queryEvents
      parameters:
      - explode: true
        in: query
        name: startTime
        required: true
        schema:
          $ref: '#/components/schemas/StartTime'
        style: form
      - explode: true
        in: query
        name: endTime
        required: true
        schema:
          $ref: '#/components/schemas/EndTime'
        style: form
      - explode: true
        in: query
        name: eventName
        required: false
        schema:
          $ref: '#/components/schemas/EventName'
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          $ref: '#/components/schemas/Limit'
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          $ref: '#/components/schemas/Cursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryEventsResponse'
          description: response contains an array of events
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Query events by timestamp period and optional event name
      tags:
      - events
    post:
      description: Use this endpoint to send an array of events for processing and
        storage. Make sure to comply with the request schema for each event.
      operationId: sendEvents
      requestBody:
        $ref: '#/components/requestBodies/SendEventsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendEventsResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Submit a batch of events for ingestion
      tags:
      - events
  /events/{refId}:
    delete:
      description: Use this endpoint to remove a specific event using its reference
        ID.
      operationId: deleteEventByRefId
      parameters:
      - explode: false
        in: path
        name: refId
        required: true
        schema:
          $ref: '#/components/schemas/RefId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteEventResponse'
          description: Contains the event that was deleted
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Delete an event by refId
      tags:
      - events
    get:
      description: Use this endpoint to get a specific event using its reference ID.
      operationId: getEventByRefId
      parameters:
      - explode: false
        in: path
        name: refId
        required: true
        schema:
          $ref: '#/components/schemas/RefId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventResponse'
          description: response contains the event matching the provided refId
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get event by refId
      tags:
      - events
  /credits:
    get:
      description: This endpoint is used to retrieve the credit ledger entries for
        a specific customer.
      operationId: listCreditLedgerEntries
      parameters:
      - explode: true
        in: query
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          $ref: '#/components/schemas/Limit'
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          $ref: '#/components/schemas/Cursor'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCreditLedgerEntriesResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Retrieve credit ledger entries for customer.
      tags:
      - credits
  /credits/grant:
    post:
      description: |-
        This endpoint is used to grant credits to a customer.
            Submit the credit amount and customer ID in the request body to grant the credits.
            The granted credits will be added to the customer's account.
      operationId: grantCredits
      requestBody:
        $ref: '#/components/requestBodies/GrantCreditsRequest'
      responses:
        "200":
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Grant credits to a customer credit ledger
      tags:
      - credits
  /credits/deduct:
    post:
      description: "This endpoint is used to deduct credits from the specified customer\
        \ account. \n    Submit the credit amount and customer ID in the request body\
        \ to deduct the credits. \n    The deducted credits will be subtracted from\
        \ the customer's account."
      operationId: deductCredits
      requestBody:
        $ref: '#/components/requestBodies/DeductCreditsRequest'
      responses:
        "200":
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Deduct credits from customer credit ledger
      tags:
      - credits
  /webhook:
    post:
      description: Use this endpoint to subscribe to webhooks and receive event notifications.
      operationId: webhookSubscribe
      requestBody:
        $ref: '#/components/requestBodies/WebhookSubscribeRequest'
      responses:
        "200":
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Subscribe to webhooks
      tags:
      - webhooks
  /customers/externalId/{externalId}:
    get:
      description: Use this endpoint to get a specific customer using its external
        Id.
      operationId: getCustomerByExternalId
      parameters:
      - explode: false
        in: path
        name: externalId
        required: true
        schema:
          $ref: '#/components/schemas/ExternalId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerResponse'
          description: response contains the customer matching the provided externalId
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get customer by externalId
      tags:
      - customers
  /customers/name/{name}:
    get:
      description: Use this endpoint to get a specific customer using its name.
      operationId: getCustomerByName
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          $ref: '#/components/schemas/Name'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerByNameResponse'
          description: response contains the customer matching the provided name
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get customer by name
      tags:
      - customers
  /customers/products-consumptions/{customerId}:
    get:
      description: Use this endpoint to get the products consumptions by the customer
        id.
      operationId: getCustomerProductsConsumptions
      parameters:
      - explode: false
        in: path
        name: customerId
        required: true
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerProductsConsumptionsResponse'
          description: response contains the products consumptions by the customer
            id
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get products consumptions by customer id
      tags:
      - customers
  /customers/products-consumptions/alias/{alias}:
    get:
      description: Use this endpoint to get the products consumptions by the customer
        alias.
      operationId: getCustomerProductsConsumptionsByAlias
      parameters:
      - explode: false
        in: path
        name: alias
        required: true
        schema:
          $ref: '#/components/schemas/Alias'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerProductsConsumptionsByAliasResponse'
          description: response contains the products consumptions by the customer
            alias
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get products consumptions by customer alias
      tags:
      - customers
  /customers/integration/{integrationType}/{integrationId}:
    get:
      description: Use this endpoint to get a specific customer using its integration
        provider and identifier.
      operationId: getCustomerByIntegrationId
      parameters:
      - explode: false
        in: path
        name: integrationType
        required: true
        schema:
          $ref: '#/components/schemas/IntegrationType'
        style: simple
      - explode: false
        in: path
        name: integrationId
        required: true
        schema:
          $ref: '#/components/schemas/IntegrationId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerByIntegrationIdResponse'
          description: response contains the customer matching the provided integration
            id
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get customer by integration id
      tags:
      - customers
  /contracts/integration/{integrationType}/{integrationId}:
    get:
      description: Use this endpoint to get a specific contract using its integration
        provider and identifier.
      operationId: getContractByIntegrationId
      parameters:
      - explode: false
        in: path
        name: integrationType
        required: true
        schema:
          $ref: '#/components/schemas/IntegrationType'
        style: simple
      - explode: false
        in: path
        name: integrationId
        required: true
        schema:
          $ref: '#/components/schemas/IntegrationId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContractByIntegrationIdResponse'
          description: Response contains the contract matching the provided integration
            id
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get contract by integration id
      tags:
      - contracts
  /invoices/{invoiceId}/payment-status:
    get:
      description: "Use this endpoint to retrieve payment status information for a\
        \ specific invoice, including payment status, amount due, amount paid, total,\
        \ due date, paid date, and invoice PDF URL."
      operationId: getInvoicePaymentStatus
      parameters:
      - explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          $ref: '#/components/schemas/InvoiceId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePaymentStatusResponse'
          description: "Invoice payment status information including payment status,\
            \ amounts, and dates."
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get invoice payment status
      tags:
      - invoices
  /invoices:
    get:
      description: List invoices for the account. Optionally filter by customerId
        to retrieve invoices for a specific customer.
      operationId: listInvoices
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          $ref: '#/components/schemas/Limit'
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          $ref: '#/components/schemas/Cursor'
        style: form
      - explode: true
        in: query
        name: customerId
        required: false
        schema:
          $ref: '#/components/schemas/CustomerId'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInvoicesResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: List invoices
      tags:
      - invoices
  /product-consumption/{productId}:
    get:
      description: Use this action to get the consumption data for a product
      operationId: getProductConsumption
      parameters:
      - explode: false
        in: path
        name: productId
        required: true
        schema:
          $ref: '#/components/schemas/ProductId'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductConsumptionResponse'
          description: The response from the get product consumption action
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Get product consumption
      tags:
      - product-consumptions
  /cloudUsageSubmission:
    post:
      description: Submit cloud usage data
      operationId: submitCloudUsage
      requestBody:
        $ref: '#/components/requestBodies/SubmitCloudUsageRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitCloudUsageResponse'
          description: RequestSuccess
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      security:
      - BearerAuthorizer: []
      summary: Submit cloud usage
      tags:
      - cloud-usage-submission
components:
  parameters: {}
  requestBodies:
    CreateCatalogProductRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateCatalogProductRequest'
      required: true
    UpdateCatalogProductRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateCatalogProductRequest'
      required: true
    CreateCustomerRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateCustomerRequest'
      required: true
    UpdateCustomerRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateCustomerRequest'
      required: true
    UpdateMeterRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateMeterRequest'
      required: true
    CreateContractRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateContractRequest'
      required: true
    CreateMeasurementRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateMeasurementRequest'
      required: true
    CreateCustomerRelationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateCustomerRelationRequest'
      required: true
    LoginRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LoginRequest'
      required: true
    DeleteEventsByRefsRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteEventsByRefsRequest'
      description: A list of event refs to delete. The request deletes the matching
        events for the authenticated account.
      required: true
    EventsDryRunRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EventsDryRunRequest'
      description: |-
        An array of events following the EventInput schema. This request body should be included in the PUT request to '/events'
              Up to 1000 events or a total payload max size of 256KB
      required: true
    SendEventsRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SendEventsRequest'
      description: |-
        An array of events following the EventInput schema. This request body should be included in the PUT request to '/events'
              Up to 1000 events or a total payload max size of 256KB
      required: true
    GrantCreditsRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GrantCreditsRequest'
      required: true
    DeductCreditsRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeductCreditsRequest'
      required: true
    WebhookSubscribeRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WebhookSubscribeRequest'
      description: Subscribe to webhooks and receive event notifications.
      required: true
    SubmitCloudUsageRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubmitCloudUsageRequest'
      required: true
  responses:
    CreateCatalogProductResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateCatalogProductResponse'
      description: RequestSuccess
    ListCatalogProductsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListCatalogProductsResponse'
      description: RequestSuccess
    GetCatalogProductResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetCatalogProductResponse'
      description: RequestSuccess
    UpdateCatalogProductResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateCatalogProductResponse'
      description: RequestSuccess
    DeleteCatalogProductResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteCatalogProductResponse'
      description: RequestSuccess
    CreateCustomerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateCustomerResponse'
      description: RequestSuccess
    ListCustomersResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListCustomersResponse'
      description: RequestSuccess
    GetCustomerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetCustomerResponse'
      description: response contains the customer matching the provided externalId
    UpdateCustomerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateCustomerResponse'
      description: RequestSuccess
    DeleteCustomerResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteCustomerResponse'
      description: RequestSuccess
    GetMeterResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetMeterResponse'
      description: RequestSuccess
    UpdateMeterResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateMeterResponse'
      description: RequestSuccess
    DeleteMeterResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteMeterResponse'
      description: RequestSuccess
    ListMetersResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListMetersResponse'
      description: RequestSuccess
    GetContractResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetContractResponse'
      description: RequestSuccess
    DeleteContractResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteContractResponse'
      description: RequestSuccess
    CreateContractResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateContractResponse'
      description: RequestSuccess
    CreateMeasurementResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateMeasurementResponse'
      description: RequestSuccess
    ListMeasurementsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListMeasurementsResponse'
      description: RequestSuccess
    GetMeasurementResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetMeasurementResponse'
      description: RequestSuccess
    DeleteMeasurementResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteMeasurementResponse'
      description: RequestSuccess
    GetInvoiceResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetInvoiceResponse'
      description: RequestSuccess
    CreateCustomerRelationResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateCustomerRelationResponse'
      description: RequestSuccess
    GetCustomerRelationResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetCustomerRelationResponse'
      description: RequestSuccess
    LoginResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LoginResponse'
      description: RequestSuccess
    DeleteEventsByRefsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteEventsByRefsResponse'
      description: Contains the events that were removed along with deletion metadata.
    EventsDryRunResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EventsDryRunResponse'
      description: Events with their corresponding meter and customer data.
    QueryEventsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QueryEventsResponse'
      description: response contains an array of events
    SendEventsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SendEventsResponse'
      description: RequestSuccess
    GetEventResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetEventResponse'
      description: response contains the event matching the provided refId
    DeleteEventResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DeleteEventResponse'
      description: Contains the event that was deleted
    ListCreditLedgerEntriesResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListCreditLedgerEntriesResponse'
      description: RequestSuccess
    RequestSuccess:
      description: RequestSuccess
    GetCustomerByNameResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetCustomerByNameResponse'
      description: response contains the customer matching the provided name
    GetCustomerProductsConsumptionsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetCustomerProductsConsumptionsResponse'
      description: response contains the products consumptions by the customer id
    GetCustomerProductsConsumptionsByAliasResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetCustomerProductsConsumptionsByAliasResponse'
      description: response contains the products consumptions by the customer alias
    GetCustomerByIntegrationIdResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetCustomerByIntegrationIdResponse'
      description: response contains the customer matching the provided integration
        id
    GetContractByIntegrationIdResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetContractByIntegrationIdResponse'
      description: Response contains the contract matching the provided integration
        id
    ListContractsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListContractsResponse'
      description: RequestSuccess
    InvoicePaymentStatusResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InvoicePaymentStatusResponse'
      description: "Invoice payment status information including payment status, amounts,\
        \ and dates."
    ListInvoicesResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListInvoicesResponse'
      description: RequestSuccess
    GetProductConsumptionResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetProductConsumptionResponse'
      description: The response from the get product consumption action
    SubmitCloudUsageResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubmitCloudUsageResponse'
      description: RequestSuccess
  schemas:
    CreateCatalogProductRequest:
      example:
        name: name
        description: description
        externalId: externalId
      properties:
        name:
          description: The name of the catalog product
          minLength: 1
          type: string
        description:
          description: The description of the catalog product
          type: string
        externalId:
          description: The external ID of the catalog product
          type: string
      required:
      - name
      type: object
    CreateCatalogProductResponse:
      example:
        catalogProduct:
          createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          externalId: externalId
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        catalogProduct:
          $ref: '#/components/schemas/CreateCatalogProductResponse_catalogProduct'
      required:
      - catalogProduct
      type: object
    ListCatalogProductsResponse:
      example:
        nextCursor: nextCursor
        total: 0.8008281904610115
        hasMore: true
        catalogProducts:
        - createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          externalId: externalId
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          externalId: externalId
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        catalogProducts:
          items:
            $ref: '#/components/schemas/CreateCatalogProductResponse_catalogProduct'
          type: array
        total:
          type: number
        hasMore:
          type: boolean
        nextCursor:
          type: string
      required:
      - catalogProducts
      - hasMore
      - total
      type: object
    GetCatalogProductResponse:
      example:
        catalogProduct:
          createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          externalId: externalId
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        catalogProduct:
          $ref: '#/components/schemas/CreateCatalogProductResponse_catalogProduct'
      required:
      - catalogProduct
      type: object
    UpdateCatalogProductRequest:
      additionalProperties: false
      example:
        name: name
        description: description
        externalId: externalId
      properties:
        name:
          description: The name of the catalog product
          minLength: 1
          type: string
        description:
          description: The description of the catalog product
          type: string
        externalId:
          description: The external ID of the catalog product
          type: string
      type: object
    UpdateCatalogProductResponse:
      example:
        catalogProduct:
          createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          description: description
          externalId: externalId
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        catalogProduct:
          $ref: '#/components/schemas/CreateCatalogProductResponse_catalogProduct'
      required:
      - catalogProduct
      type: object
    DeleteCatalogProductResponse:
      example:
        catalogProduct:
          createdAt: 2000-01-23T04:56:07.000+00:00
          deletedAt: deletedAt
          name: name
          description: description
          externalId: externalId
          id: id
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        catalogProduct:
          $ref: '#/components/schemas/DeleteCatalogProductResponse_catalogProduct'
      required:
      - catalogProduct
      type: object
    Contact:
      example:
        receiveInvoiceEmail: true
        phone: phone
        name: name
        title: title
        email: email
      properties:
        name:
          type: string
        email:
          format: email
          type: string
        title:
          type: string
        phone:
          pattern: "^\\+?[1-9]\\d{4,15}$"
          type: string
        receiveInvoiceEmail:
          type: boolean
      type: object
    CustomerSource:
      description: The source of the customer
      enum:
      - Stripe
      - VayuEventsApi
      - Api
      - Salesforce
      - HubSpot
      nullable: true
      type: string
    CustomerCloudProviderSettings:
      description: Cloud provider settings for the customer
      example:
        cloudProvider: AWS
        customerIdentifier: customerIdentifier
        cloudProviderMarketplaceId: cloudProviderMarketplaceId
      nullable: true
      properties:
        cloudProvider:
          enum:
          - AWS
          type: string
        cloudProviderMarketplaceId:
          type: string
        customerIdentifier:
          type: string
      type: object
    Address:
      description: The address of the customer
      example:
        country: country
        city: city
        postalCode: postalCode
        addressText: addressText
        state: state
      nullable: true
      properties:
        country:
          nullable: true
          type: string
        city:
          nullable: true
          type: string
        addressText:
          nullable: true
          type: string
        state:
          nullable: true
          type: string
        postalCode:
          nullable: true
          type: string
      type: object
    Currency:
      description: The billing currency of the customer
      enum:
      - USD
      - EUR
      - GBP
      - ILS
      - CAD
      - AUD
      - COP
      - BRL
      nullable: true
      type: string
    IntegrationEntityTypes:
      description: "The entity type in the integration (e.g., \"Opportunity\", \"\
        Deal\")"
      enum:
      - Account
      - Invoice
      - SalesOrder
      - Item
      - Deal
      - Company
      - Opportunity
      type: string
    CustomFieldValueTypes:
      description: "The type of the value: \"String\", \"Number\", or \"Boolean\""
      enum:
      - String
      - Number
      - Boolean
      type: string
    CustomField:
      example:
        integrationSource: NetSuite
        valueType: String
        fieldPath: fieldPath
        vayuCustomFieldName: vayuCustomFieldName
        value: ""
        integrationEntityType: Account
      properties:
        integrationSource:
          description: "The integration provider (e.g., \"Salesforce\", \"HubSpot\"\
            )"
          enum:
          - NetSuite
          - QuickBooks
          - Stripe
          - Salesforce
          - Hubspot
          - Vayu
          - Slack
          - S3
          - Morning
          - Snowflake
          - Anrok
          - Connact
          - Xero
          type: string
        integrationEntityType:
          $ref: '#/components/schemas/IntegrationEntityTypes'
        fieldPath:
          description: "The path to the field in the integration (e.g., \"root.path.field\"\
            )"
          type: string
        vayuCustomFieldName:
          description: "The name of the field in Vayu (e.g., \"AE Name\")"
          type: string
        valueType:
          $ref: '#/components/schemas/CustomFieldValueTypes'
        value:
          description: The actual value of the custom field
          nullable: true
      required:
      - valueType
      - vayuCustomFieldName
      type: object
    CreateCustomerRequest:
      example:
        aliases:
        - aliases
        - aliases
        address:
          country: country
          city: city
          postalCode: postalCode
          addressText: addressText
          state: state
        customFields:
        - integrationSource: NetSuite
          valueType: String
          fieldPath: fieldPath
          vayuCustomFieldName: vayuCustomFieldName
          value: ""
          integrationEntityType: Account
        - integrationSource: NetSuite
          valueType: String
          fieldPath: fieldPath
          vayuCustomFieldName: vayuCustomFieldName
          value: ""
          integrationEntityType: Account
        externalId: externalId
        source: Stripe
        customerErpId: customerErpId
        taxIds:
        - taxIds
        - taxIds
        dueDays: END_OF_MONTH
        subsidiary: subsidiary
        legalName: legalName
        taxId: taxId
        salesForceAccountId: salesForceAccountId
        name: name
        cloudProviderSettings:
          cloudProvider: AWS
          customerIdentifier: customerIdentifier
          cloudProviderMarketplaceId: cloudProviderMarketplaceId
        currency: USD
        contacts:
        - receiveInvoiceEmail: true
          phone: phone
          name: name
          title: title
          email: email
        - receiveInvoiceEmail: true
          phone: phone
          name: name
          title: title
          email: email
      properties:
        name:
          description: The name of the customer
          type: string
        aliases:
          default: []
          description: The aliases of the customer used to match events to the customer.
          items:
            type: string
          nullable: true
          type: array
        contacts:
          description: The contacts of the customer. Contact marked as primary is
            the target for invoice sharing.
          items:
            $ref: '#/components/schemas/Contact'
          nullable: true
          type: array
        source:
          $ref: '#/components/schemas/CustomerSource'
        legalName:
          description: The legal name of the customer
          nullable: true
          type: string
        taxIds:
          default: []
          description: The tax IDs of the customer
          items:
            type: string
          nullable: true
          type: array
        taxId:
          deprecated: true
          description: "The tax ID of the customer (deprecated, use taxIds instead)"
          nullable: true
          type: string
        cloudProviderSettings:
          $ref: '#/components/schemas/CustomerCloudProviderSettings'
        externalId:
          description: The external ID of the customer
          type: string
        customerErpId:
          description: The ID of the customer in the ERP system
          nullable: true
          type: string
        address:
          $ref: '#/components/schemas/Address'
        salesForceAccountId:
          description: The ID of the customer in the Salesforce system
          nullable: true
          type: string
        dueDays:
          description: The due days of the customer
          enum:
          - END_OF_MONTH
          - SAME_DAY
          - 15_DAYS
          - 30_DAYS
          - 45_DAYS
          - 60_DAYS
          - 90_DAYS
          nullable: true
          type: string
        currency:
          $ref: '#/components/schemas/Currency'
        customFields:
          description: "Custom fields from CRM systems (Salesforce, HubSpot, etc.)"
          items:
            $ref: '#/components/schemas/CustomField'
          nullable: true
          type: array
        subsidiary:
          description: The name of the subsidiary of the customer
          nullable: true
          type: string
      required:
      - name
      type: object
    CreateCustomerResponse:
      example:
        customer:
          aliases:
          - aliases
          - aliases
          address:
            country: country
            city: city
            postalCode: postalCode
            addressText: addressText
            state: state
          customFields:
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          externalId: externalId
          source: Stripe
          customerErpId: customerErpId
          taxIds:
          - taxIds
          - taxIds
          dueDays: END_OF_MONTH
          subsidiary: subsidiary
          legalName: legalName
          createdAt: 2000-01-23T04:56:07.000+00:00
          taxId: taxId
          salesForceAccountId: salesForceAccountId
          name: name
          cloudProviderSettings:
            cloudProvider: AWS
            customerIdentifier: customerIdentifier
            cloudProviderMarketplaceId: cloudProviderMarketplaceId
          currency: USD
          id: id
          contacts:
          - receiveInvoiceEmail: true
            phone: phone
            name: name
            title: title
            email: email
          - receiveInvoiceEmail: true
            phone: phone
            name: name
            title: title
            email: email
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        customer:
          $ref: '#/components/schemas/CreateCustomerResponse_customer'
      required:
      - customer
      type: object
    ListCustomersResponse:
      example:
        nextCursor: nextCursor
        total: 0.8008281904610115
        hasMore: true
        customers:
        - aliases:
          - aliases
          - aliases
          address:
            country: country
            city: city
            postalCode: postalCode
            addressText: addressText
            state: state
          customFields:
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          externalId: externalId
          source: Stripe
          customerErpId: customerErpId
          taxIds:
          - taxIds
          - taxIds
          dueDays: END_OF_MONTH
          subsidiary: subsidiary
          legalName: legalName
          createdAt: 2000-01-23T04:56:07.000+00:00
          taxId: taxId
          salesForceAccountId: salesForceAccountId
          name: name
          cloudProviderSettings:
            cloudProvider: AWS
            customerIdentifier: customerIdentifier
            cloudProviderMarketplaceId: cloudProviderMarketplaceId
          currency: USD
          id: id
          contacts:
          - receiveInvoiceEmail: true
            phone: phone
            name: name
            title: title
            email: email
          - receiveInvoiceEmail: true
            phone: phone
            name: name
            title: title
            email: email
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - aliases:
          - aliases
          - aliases
          address:
            country: country
            city: city
            postalCode: postalCode
            addressText: addressText
            state: state
          customFields:
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          externalId: externalId
          source: Stripe
          customerErpId: customerErpId
          taxIds:
          - taxIds
          - taxIds
          dueDays: END_OF_MONTH
          subsidiary: subsidiary
          legalName: legalName
          createdAt: 2000-01-23T04:56:07.000+00:00
          taxId: taxId
          salesForceAccountId: salesForceAccountId
          name: name
          cloudProviderSettings:
            cloudProvider: AWS
            customerIdentifier: customerIdentifier
            cloudProviderMarketplaceId: cloudProviderMarketplaceId
          currency: USD
          id: id
          contacts:
          - receiveInvoiceEmail: true
            phone: phone
            name: name
            title: title
            email: email
          - receiveInvoiceEmail: true
            phone: phone
            name: name
            title: title
            email: email
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        customers:
          items:
            $ref: '#/components/schemas/CreateCustomerResponse_customer'
          type: array
        total:
          type: number
        hasMore:
          type: boolean
        nextCursor:
          type: string
      required:
      - customers
      - hasMore
      - total
      type: object
    GetCustomerResponse:
      example:
        customer:
          aliases:
          - aliases
          - aliases
          address:
            country: country
            city: city
            postalCode: postalCode
            addressText: addressText
            state: state
          customFields:
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          externalId: externalId
          source: Stripe
          customerErpId: customerErpId
          taxIds:
          - taxIds
          - taxIds
          dueDays: END_OF_MONTH
          subsidiary: subsidiary
          legalName: legalName
          createdAt: 2000-01-23T04:56:07.000+00:00
          taxId: taxId
          salesForceAccountId: salesForceAccountId
          name: name
          cloudProviderSettings:
            cloudProvider: AWS
            customerIdentifier: customerIdentifier
            cloudProviderMarketplaceId: cloudProviderMarketplaceId
          currency: USD
          id: id
          contacts:
          - receiveInvoiceEmail: true
            phone: phone
            name: name
            title: title
            email: email
          - receiveInvoiceEmail: true
            phone: phone
            name: name
            title: title
            email: email
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        customer:
          $ref: '#/components/schemas/CreateCustomerResponse_customer'
      required:
      - customer
      type: object
    UpdateCustomerRequest:
      additionalProperties: false
      example:
        aliases:
        - aliases
        - aliases
        address:
          country: country
          city: city
          postalCode: postalCode
          addressText: addressText
          state: state
        customFields:
        - integrationSource: NetSuite
          valueType: String
          fieldPath: fieldPath
          vayuCustomFieldName: vayuCustomFieldName
          value: ""
          integrationEntityType: Account
        - integrationSource: NetSuite
          valueType: String
          fieldPath: fieldPath
          vayuCustomFieldName: vayuCustomFieldName
          value: ""
          integrationEntityType: Account
        externalId: externalId
        source: Stripe
        customerErpId: customerErpId
        taxIds:
        - taxIds
        - taxIds
        dueDays: END_OF_MONTH
        subsidiary: subsidiary
        legalName: legalName
        taxId: taxId
        salesForceAccountId: salesForceAccountId
        name: name
        cloudProviderSettings:
          cloudProvider: AWS
          customerIdentifier: customerIdentifier
          cloudProviderMarketplaceId: cloudProviderMarketplaceId
        currency: USD
        contacts:
        - receiveInvoiceEmail: true
          phone: phone
          name: name
          title: title
          email: email
        - receiveInvoiceEmail: true
          phone: phone
          name: name
          title: title
          email: email
      properties:
        name:
          description: The name of the customer
          type: string
        aliases:
          default: []
          description: The aliases of the customer used to match events to the customer.
          items:
            type: string
          nullable: true
          type: array
        contacts:
          description: The contacts of the customer. Contact marked as primary is
            the target for invoice sharing.
          items:
            $ref: '#/components/schemas/Contact'
          nullable: true
          type: array
        source:
          $ref: '#/components/schemas/CustomerSource'
        legalName:
          description: The legal name of the customer
          nullable: true
          type: string
        taxIds:
          default: []
          description: The tax IDs of the customer
          items:
            type: string
          nullable: true
          type: array
        taxId:
          deprecated: true
          description: "The tax ID of the customer (deprecated, use taxIds instead)"
          nullable: true
          type: string
        cloudProviderSettings:
          $ref: '#/components/schemas/CustomerCloudProviderSettings'
        externalId:
          description: The external ID of the customer
          type: string
        customerErpId:
          description: The ID of the customer in the ERP system
          nullable: true
          type: string
        address:
          $ref: '#/components/schemas/Address'
        salesForceAccountId:
          description: The ID of the customer in the Salesforce system
          nullable: true
          type: string
        dueDays:
          description: The due days of the customer
          enum:
          - END_OF_MONTH
          - SAME_DAY
          - 15_DAYS
          - 30_DAYS
          - 45_DAYS
          - 60_DAYS
          - 90_DAYS
          nullable: true
          type: string
        currency:
          $ref: '#/components/schemas/Currency'
        customFields:
          description: "Custom fields from CRM systems (Salesforce, HubSpot, etc.)"
          items:
            $ref: '#/components/schemas/CustomField'
          nullable: true
          type: array
        subsidiary:
          description: The name of the subsidiary of the customer
          nullable: true
          type: string
      type: object
    UpdateCustomerResponse:
      example:
        customer:
          aliases:
          - aliases
          - aliases
          address:
            country: country
            city: city
            postalCode: postalCode
            addressText: addressText
            state: state
          customFields:
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          externalId: externalId
          source: Stripe
          customerErpId: customerErpId
          taxIds:
          - taxIds
          - taxIds
          dueDays: END_OF_MONTH
          subsidiary: subsidiary
          legalName: legalName
          createdAt: 2000-01-23T04:56:07.000+00:00
          taxId: taxId
          salesForceAccountId: salesForceAccountId
          name: name
          cloudProviderSettings:
            cloudProvider: AWS
            customerIdentifier: customerIdentifier
            cloudProviderMarketplaceId: cloudProviderMarketplaceId
          currency: USD
          id: id
          contacts:
          - receiveInvoiceEmail: true
            phone: phone
            name: name
            title: title
            email: email
          - receiveInvoiceEmail: true
            phone: phone
            name: name
            title: title
            email: email
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        customer:
          $ref: '#/components/schemas/CreateCustomerResponse_customer'
      required:
      - customer
      type: object
    DeleteCustomerResponse:
      example:
        customer:
          aliases:
          - aliases
          - aliases
          address:
            country: country
            city: city
            postalCode: postalCode
            addressText: addressText
            state: state
          customFields:
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          externalId: externalId
          source: Stripe
          customerErpId: customerErpId
          taxIds:
          - taxIds
          - taxIds
          dueDays: END_OF_MONTH
          subsidiary: subsidiary
          legalName: legalName
          createdAt: 2000-01-23T04:56:07.000+00:00
          deletedAt: deletedAt
          taxId: taxId
          salesForceAccountId: salesForceAccountId
          name: name
          cloudProviderSettings:
            cloudProvider: AWS
            customerIdentifier: customerIdentifier
            cloudProviderMarketplaceId: cloudProviderMarketplaceId
          currency: USD
          id: id
          contacts:
          - receiveInvoiceEmail: true
            phone: phone
            name: name
            title: title
            email: email
          - receiveInvoiceEmail: true
            phone: phone
            name: name
            title: title
            email: email
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        customer:
          $ref: '#/components/schemas/DeleteCustomerResponse_customer'
      required:
      - customer
      type: object
    AggregationOperator:
      description: The aggregation method defines how the events should be summed
        to represent a usage value.
      enum:
      - Count
      - Sum
      - Distinct
      - Max
      - Min
      - Average
      - First
      - Last
      type: string
    AggregationMethod:
      description: The aggregation method defines how the events should be summed
        to represent a usage value.
      example:
        field: field
        operator: Count
        instanceKey: instanceKey
      properties:
        operator:
          $ref: '#/components/schemas/AggregationOperator'
        field:
          description: The field inside the "data" property to apply the aggregation
            method to.
          type: string
        instanceKey:
          description: The fields that is used to group different events together
            when measuring the usage.
          type: string
      required:
      - operator
      type: object
    CriterionOperator:
      enum:
      - Equals
      - DoesntEqual
      - Has
      - In
      - Contains
      - DoesntContain
      - LargerThan
      - LowerThan
      - LowerEqualTo
      - LargerEqualTo
      - Exists
      - DoesntExists
      type: string
    Criterion:
      example:
        field: field
        value: value
        operator: Equals
      properties:
        field:
          minLength: 1
          type: string
        operator:
          $ref: '#/components/schemas/CriterionOperator'
        value:
          minLength: 1
          type: string
      required:
      - field
      - operator
      - value
      type: object
    Condition:
      example:
        criterions:
        - field: field
          value: value
          operator: Equals
        - field: field
          value: value
          operator: Equals
      properties:
        criterions:
          items:
            $ref: '#/components/schemas/Criterion'
          minItems: 1
          type: array
      required:
      - criterions
      type: object
    Filter:
      description: |-
        The filter to apply to the events to be included in the meter.
            The filter object contains an array of Conditions, each condition represents a logical OR statement.
            Each condition contains an array of Criteria (criterions), each criterion represents a logical AND statement.
      example:
        conditions:
        - criterions:
          - field: field
            value: value
            operator: Equals
          - field: field
            value: value
            operator: Equals
        - criterions:
          - field: field
            value: value
            operator: Equals
          - field: field
            value: value
            operator: Equals
      properties:
        conditions:
          items:
            $ref: '#/components/schemas/Condition'
          minItems: 1
          type: array
      required:
      - conditions
      type: object
    GetMeterResponse:
      example:
        meter:
          filter:
            conditions:
            - criterions:
              - field: field
                value: value
                operator: Equals
              - field: field
                value: value
                operator: Equals
            - criterions:
              - field: field
                value: value
                operator: Equals
              - field: field
                value: value
                operator: Equals
          createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          eventName: eventName
          id: id
          aggregationMethod:
            field: field
            operator: Count
            instanceKey: instanceKey
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        meter:
          $ref: '#/components/schemas/GetMeterResponse_meter'
      required:
      - meter
      type: object
    UpdateMeterRequest:
      additionalProperties: false
      example:
        filter:
          conditions:
          - criterions:
            - field: field
              value: value
              operator: Equals
            - field: field
              value: value
              operator: Equals
          - criterions:
            - field: field
              value: value
              operator: Equals
            - field: field
              value: value
              operator: Equals
        name: name
        eventName: eventName
        aggregationMethod:
          field: field
          operator: Count
          instanceKey: instanceKey
      properties:
        name:
          description: The name of the meter
          minLength: 1
          type: string
        eventName:
          description: The name of the event that the meter is tracking.
          minLength: 1
          type: string
        aggregationMethod:
          $ref: '#/components/schemas/AggregationMethod'
        filter:
          $ref: '#/components/schemas/Filter'
      type: object
    UpdateMeterResponse:
      example:
        meter:
          filter:
            conditions:
            - criterions:
              - field: field
                value: value
                operator: Equals
              - field: field
                value: value
                operator: Equals
            - criterions:
              - field: field
                value: value
                operator: Equals
              - field: field
                value: value
                operator: Equals
          createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          eventName: eventName
          id: id
          aggregationMethod:
            field: field
            operator: Count
            instanceKey: instanceKey
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        meter:
          $ref: '#/components/schemas/GetMeterResponse_meter'
      required:
      - meter
      type: object
    DeleteMeterResponse:
      example:
        meter:
          filter:
            conditions:
            - criterions:
              - field: field
                value: value
                operator: Equals
              - field: field
                value: value
                operator: Equals
            - criterions:
              - field: field
                value: value
                operator: Equals
              - field: field
                value: value
                operator: Equals
          createdAt: 2000-01-23T04:56:07.000+00:00
          deletedAt: deletedAt
          name: name
          eventName: eventName
          id: id
          aggregationMethod:
            field: field
            operator: Count
            instanceKey: instanceKey
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        meter:
          $ref: '#/components/schemas/DeleteMeterResponse_meter'
      required:
      - meter
      type: object
    ListMetersResponse:
      example:
        nextCursor: nextCursor
        total: 0.8008281904610115
        hasMore: true
        meters:
        - filter:
            conditions:
            - criterions:
              - field: field
                value: value
                operator: Equals
              - field: field
                value: value
                operator: Equals
            - criterions:
              - field: field
                value: value
                operator: Equals
              - field: field
                value: value
                operator: Equals
          createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          eventName: eventName
          id: id
          aggregationMethod:
            field: field
            operator: Count
            instanceKey: instanceKey
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - filter:
            conditions:
            - criterions:
              - field: field
                value: value
                operator: Equals
              - field: field
                value: value
                operator: Equals
            - criterions:
              - field: field
                value: value
                operator: Equals
              - field: field
                value: value
                operator: Equals
          createdAt: 2000-01-23T04:56:07.000+00:00
          name: name
          eventName: eventName
          id: id
          aggregationMethod:
            field: field
            operator: Count
            instanceKey: instanceKey
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        meters:
          items:
            $ref: '#/components/schemas/GetMeterResponse_meter'
          type: array
        total:
          type: number
        hasMore:
          type: boolean
        nextCursor:
          type: string
      required:
      - hasMore
      - meters
      - total
      type: object
    ExternalUsageReset:
      description: "Usage reset is represented in months and must be one of: 1, 2,\
        \ 3, 6, 12"
      nullable: true
      type: integer
    ExternalOverageStrategy:
      default: IGNORE
      description: The strategy to apply when the overage occurs
      enum:
      - IGNORE
      - BLOCK
      - UPGRADE_PLAN
      - TOP_UP
      nullable: true
      type: string
    PaymentTerm:
      description: "The payment term of the product. Can be prepayment or postpayment.\
        \ If not provided, the payment term will be determined by the pricing model."
      enum:
      - Prepayment
      - Postpayment
      nullable: true
      type: string
    ProductCloudProviderSettings:
      description: Cloud provider settings for the product
      example:
        cloudProvider: AWS
        dimension: dimension
        cloudProviderMarketplaceId: cloudProviderMarketplaceId
      nullable: true
      properties:
        cloudProvider:
          enum:
          - AWS
          type: string
        cloudProviderMarketplaceId:
          type: string
        dimension:
          type: string
      type: object
    ProductGroup:
      example:
        displayName: displayName
        productErpId: productErpId
        nsClassId: nsClassId
        description: description
        commitment:
          price: 0.3616076749251911
          overageStrategy: null
          scheduling:
            duration:
              unit: MONTH
              value: 602
            billingDay: 7
          units: 0.9301444243932576
        isCalendarAligned: true
        nsClass: nsClass
        baseAmount: 7.061401241503109
        products:
        - displayName: displayName
          productErpId: productErpId
          nsClassId: nsClassId
          scheduling:
            duration:
              unit: MONTH
              value: 602
            billingDay: 3
          catalogProductId: catalogProductId
          cloudProviderSettings:
            cloudProvider: AWS
            dimension: dimension
            cloudProviderMarketplaceId: cloudProviderMarketplaceId
          description: description
          commitment:
            price: 0.5637376656633328
            overageStrategy: IGNORE
            scheduling:
              duration:
                unit: MONTH
                value: 602
              billingDay: 7
            units: 0.5962133916683182
          isCalendarAligned: true
          paymentTerm: Prepayment
          pricing:
            price: 0.14658129805029452
            type: ONE_TIME
          nsClass: nsClass
        - displayName: displayName
          productErpId: productErpId
          nsClassId: nsClassId
          scheduling:
            duration:
              unit: MONTH
              value: 602
            billingDay: 3
          catalogProductId: catalogProductId
          cloudProviderSettings:
            cloudProvider: AWS
            dimension: dimension
            cloudProviderMarketplaceId: cloudProviderMarketplaceId
          description: description
          commitment:
            price: 0.5637376656633328
            overageStrategy: IGNORE
            scheduling:
              duration:
                unit: MONTH
                value: 602
              billingDay: 7
            units: 0.5962133916683182
          isCalendarAligned: true
          paymentTerm: Prepayment
          pricing:
            price: 0.14658129805029452
            type: ONE_TIME
          nsClass: nsClass
      properties:
        displayName:
          description: The display name of the product
          type: string
        description:
          description: The description of the product
          nullable: true
          type: string
        productErpId:
          description: The id of the product in NetSuite ERP
          nullable: true
          type: string
        nsClass:
          description: The class of the product in NetSuite ERP
          nullable: true
          type: string
        nsClassId:
          description: The id of the class of the product in NetSuite ERP
          nullable: true
          type: string
        products:
          description: The products that the product group is associated with
          items:
            $ref: '#/components/schemas/ProductGroup_products_inner'
          minItems: 1
          type: array
        baseAmount:
          description: The base amount for the customer to pay even if the amount
            based on usage is lower
          nullable: true
          type: number
        commitment:
          $ref: '#/components/schemas/ProductGroup_commitment'
        isCalendarAligned:
          description: "Whether the invoicing period should be calendar aligned. If\
            \ not provided, it will default to false. ONE_TIME and COMMERCIAL_TERMS\
            \ pricing models cannot be calendar aligned."
          type: boolean
      required:
      - displayName
      - products
      type: object
    CustomFieldValue:
      example:
        fieldName: fieldName
        value: value
        customFieldDefinitionId: customFieldDefinitionId
      properties:
        customFieldDefinitionId:
          type: string
        value:
          type: string
        fieldName:
          type: string
      required:
      - customFieldDefinitionId
      type: object
    ContractStatus:
      description: The status of the contract
      enum:
      - InReview
      - Active
      - Inactive
      - Expired
      - Terminated
      - PendingTermination
      - Error
      type: string
    GetContractResponse:
      example:
        contract:
          endDate: 2000-01-23T04:56:07.000+00:00
          customFields:
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          - integrationSource: NetSuite
            valueType: String
            fieldPath: fieldPath
            vayuCustomFieldName: vayuCustomFieldName
            value: ""
            integrationEntityType: Account
          shouldProRateInvoices: true
          products:
          - displayName: displayName
            productErpId: productErpId
            nsClassId: nsClassId
            scheduling:
              duration:
                unit: MONTH
                value: 602
              billingDay: 3
            catalogProductId: catalogProductId
            cloudProviderSettings:
              cloudProvider: AWS
              dimension: dimension
              cloudProviderMarketplaceId: cloudProviderMarketplaceId
            description: description
            commitment:
              price: 0.5637376656633328
              overageStrategy: IGNORE
              scheduling:
                duration:
                  unit: MONTH
                  value: 602
                billingDay: 7
              units: 0.5962133916683182
            isCalendarAligned: true
            paymentTerm: Prepayment
            pricing:
              price: 0.14658129805029452
              type: ONE_TIME
            nsClass: nsClass
          - displayName: displayName
            productErpId: productErpId
            nsClassId: nsClassId
            scheduling:
              duration:
                unit: MONTH
                value: 602
              billingDay: 3
[...]
