info:
  title: Vayu API
  version: 1.0.0
  description: >-
    The Vayu API is a RESTful API that allows you to submit events for
    processing and storage & manage billing related entities.
              The API is secured using the Bearer Authentication scheme with JWT tokens.
              To obtain a JWT token, please contact Vayu at team@withvayu.com
  contact:
    email: dev@withvayu.com
    name: Vayu, Inc
    url: https://withvayu.com
openapi: 3.0.0
servers:
  - url: https://connect.withvayu.com
    description: Production server
  - url: https://staging-connect.withvayu.com
    description: Sandbox server
tags:
  - name: auth
    description: The auth tag is used for endpoints related to authentication and
      authorization.
  - name: events
    description: The events tag is used for endpoints related to event ingestion.
  - name: customers
    description: The customers tag is used for endpoints related to customer management.
  - name: meters
    description: The meters tag is used for endpoints related to meter management.
  - name: contracts
    description: The contracts tag is used for endpoints related to contract management.
  - name: invoices
    description: The invoices tag is used for endpoints related to invoice management.
  - name: credits
    description: The credits tag is used for endpoints related to credit management.
  - name: webhooks
    description: The webhooks tag is used for endpoints related to webhook management.
components:
  securitySchemes:
    BearerAuthorizer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  requestBodies:
    CreateCatalogProductRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateCatalogProductRequest"
    UpdateCatalogProductRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateCatalogProductRequest"
    CreateCustomerRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateCustomerRequest"
    UpdateCustomerRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateCustomerRequest"
    UpdateMeterRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateMeterRequest"
    CreateContractRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateContractRequest"
    CreateMeasurementRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateMeasurementRequest"
    CreateCustomerRelationRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateCustomerRelationRequest"
    CreateCustomFieldRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateCustomFieldRequest"
    UpdateCustomFieldRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateCustomFieldRequest"
    LoginRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LoginRequest"
    DeleteEventsByRefsRequest:
      required: true
      description: A list of event refs to delete. The request deletes the matching
        events for the authenticated account.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteEventsByRefsRequest"
    EventsDryRunRequest:
      required: true
      description: >-
        An array of events following the EventInput schema. This request body
        should be included in the PUT request to '/events'
              Up to 1000 events or a total payload max size of 256KB
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/EventsDryRunRequest"
    SendEventsRequest:
      required: true
      description: >-
        An array of events following the EventInput schema. This request body
        should be included in the PUT request to '/events'
              Up to 1000 events or a total payload max size of 256KB
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SendEventsRequest"
    V2DeleteEventsByRefsRequest:
      required: true
      description: A list of event refs to delete. The request deletes the matching
        events for the authenticated account.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/V2DeleteEventsByRefsRequest"
    V2EventsDryRunRequest:
      required: true
      description: An array of events following the EventInput schema. Up to 1000
        events or a total payload max size of 256KB
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/V2EventsDryRunRequest"
    V2SendEventsRequest:
      required: true
      description: An array of events following the EventInput schema. Up to 1000
        events or a total payload max size of 256KB
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/V2SendEventsRequest"
    V2QueryEventsAggregationRequest:
      required: true
      description: Configuration for aggregating events by meters and time grouping.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/V2QueryEventsAggregationRequest"
    GrantCreditsRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GrantCreditsRequest"
    DeductCreditsRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeductCreditsRequest"
    WebhookSubscribeRequest:
      required: true
      description: Subscribe to webhooks and receive event notifications.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/WebhookSubscribeRequest"
    SubmitCloudUsageRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SubmitCloudUsageRequest"
  responses:
    CreateCatalogProductResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateCatalogProductResponse"
    ListCatalogProductsResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListCatalogProductsResponse"
    GetCatalogProductResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCatalogProductResponse"
    UpdateCatalogProductResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateCatalogProductResponse"
    DeleteCatalogProductResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteCatalogProductResponse"
    CreateCustomerResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateCustomerResponse"
    ListCustomersResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListCustomersResponse"
    GetCustomerResponse:
      description: response contains the customer matching the provided externalId
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCustomerResponse"
    UpdateCustomerResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateCustomerResponse"
    DeleteCustomerResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteCustomerResponse"
    GetMeterResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetMeterResponse"
    UpdateMeterResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateMeterResponse"
    DeleteMeterResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteMeterResponse"
    ListMetersResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListMetersResponse"
    GetContractResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetContractResponse"
    DeleteContractResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteContractResponse"
    CreateContractResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateContractResponse"
    CreateMeasurementResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateMeasurementResponse"
    ListMeasurementsResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListMeasurementsResponse"
    GetMeasurementResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetMeasurementResponse"
    DeleteMeasurementResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteMeasurementResponse"
    GetInvoiceResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetInvoiceResponse"
    CreateCustomerRelationResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateCustomerRelationResponse"
    GetCustomerRelationResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCustomerRelationResponse"
    GetPlanResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetPlanResponse"
    DeletePlanResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeletePlanResponse"
    ListPlansResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListPlansResponse"
    CreateCustomFieldResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateCustomFieldResponse"
    ListCustomFieldsResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListCustomFieldsResponse"
    GetCustomFieldResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCustomFieldResponse"
    UpdateCustomFieldResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateCustomFieldResponse"
    DeleteCustomFieldResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteCustomFieldResponse"
    LoginResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/LoginResponse"
    DeleteEventsByRefsResponse:
      description: Contains the events that were removed along with deletion metadata.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteEventsByRefsResponse"
    EventsDryRunResponse:
      description: Events with their corresponding meter and customer data.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/EventsDryRunResponse"
    QueryEventsResponse:
      description: response contains an array of events
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/QueryEventsResponse"
    SendEventsResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SendEventsResponse"
    GetEventResponse:
      description: response contains the event matching the provided refId
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetEventResponse"
    DeleteEventResponse:
      description: Contains the event that was deleted
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteEventResponse"
    V2DeleteEventsByRefsResponse:
      description: Contains the events that were removed along with deletion metadata.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/V2DeleteEventsByRefsResponse"
    V2EventsDryRunResponse:
      description: Events with their corresponding meter and customer data.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/V2EventsDryRunResponse"
    V2QueryEventsResponse:
      description: response contains an array of events
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/V2QueryEventsResponse"
    V2SendEventsResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/V2SendEventsResponse"
    V2GetEventResponse:
      description: response contains the event matching the provided refId
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/V2GetEventResponse"
    V2DeleteEventResponse:
      description: Contains the event that was deleted
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/V2DeleteEventResponse"
    V2QueryEventsAggregationResponse:
      description: Aggregated event data points grouped by the specified time period.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/V2QueryEventsAggregationResponse"
    ListCreditLedgerEntriesResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListCreditLedgerEntriesResponse"
    RequestSuccess:
      description: RequestSuccess
    GetCustomerByNameResponse:
      description: response contains the customer matching the provided name
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCustomerByNameResponse"
    GetCustomerProductsConsumptionsResponse:
      description: response contains the products consumptions by the customer id
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCustomerProductsConsumptionsResponse"
    GetCustomerProductsConsumptionsByAliasResponse:
      description: response contains the products consumptions by the customer alias
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCustomerProductsConsumptionsByAliasResponse"
    GetCustomerByIntegrationIdResponse:
      description: response contains the customer matching the provided integration id
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCustomerByIntegrationIdResponse"
    GetContractByIntegrationIdResponse:
      description: Response contains the contract matching the provided integration id
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetContractByIntegrationIdResponse"
    ListContractsResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListContractsResponse"
    InvoicePaymentStatusResponse:
      description: Invoice payment status information including payment status,
        amounts, and dates.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/InvoicePaymentStatusResponse"
    ListInvoicesResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ListInvoicesResponse"
    GetProductConsumptionResponse:
      description: The response from the get product consumption action
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetProductConsumptionResponse"
    SubmitCloudUsageResponse:
      description: RequestSuccess
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SubmitCloudUsageResponse"
  parameters: {}
  schemas:
    ValidationErrorResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - invalid_request_error
        code:
          type: string
          description: Specific machine-readable error code
        message:
          type: string
          description: Human-readable error explanation
        param:
          type: string
          description: Single parameter that failed validation
        params:
          type: array
          items:
            type: object
            properties:
              param:
                type: string
                description: The parameter that failed validation
              message:
                type: string
                description: Why validation failed for this parameter
            required:
              - param
              - message
          description: Multiple parameters that failed validation
      required:
        - type
        - code
        - message
    UnauthorizedErrorResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - authentication_error
        code:
          type: string
          enum:
            - authentication_failed
        message:
          type: string
          description: Human-readable error explanation
      required:
        - type
        - code
        - message
    RateLimitErrorResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - rate_limit_error
        code:
          type: string
          enum:
            - rate_limit_exceeded
        message:
          type: string
          description: Human-readable error explanation
      required:
        - type
        - code
        - message
    InternalServerErrorResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - api_error
        code:
          type: string
          enum:
            - internal_error
        message:
          type: string
          description: Human-readable error explanation
      required:
        - type
        - code
        - message
    NotFoundErrorResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - invalid_request_error
        code:
          type: string
          enum:
            - resource_not_found
        message:
          type: string
          description: Human-readable error explanation
      required:
        - type
        - code
        - message
    RequestTooLongErrorResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - invalid_request_error
        code:
          type: string
          enum:
            - request_too_large
        message:
          type: string
          description: Human-readable error explanation
      required:
        - type
        - code
        - message
    ConflictErrorResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - invalid_request_error
        code:
          type: string
          enum:
            - resource_already_exists
        message:
          type: string
          description: Human-readable error explanation
      required:
        - type
        - code
        - message
    CreateCatalogProductRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: The name of the catalog product
        description:
          type: string
          description: The description of the catalog product
        externalId:
          type: string
          description: The external ID of the catalog product
      required:
        - name
    CreateCatalogProductResponse:
      type: object
      properties:
        catalogProduct:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              description: The name of the catalog product
            description:
              type: string
              description: The description of the catalog product
            externalId:
              type: string
              description: The external ID of the catalog product
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
          required:
            - name
            - id
            - createdAt
            - updatedAt
      required:
        - catalogProduct
    ListCatalogProductsResponse:
      type: object
      properties:
        catalogProducts:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                description: The name of the catalog product
              description:
                type: string
                description: The description of the catalog product
              externalId:
                type: string
                description: The external ID of the catalog product
              id:
                type: string
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
            required:
              - name
              - id
              - createdAt
              - updatedAt
        total:
          type: number
        hasMore:
          type: boolean
        nextCursor:
          type: string
      required:
        - catalogProducts
        - total
        - hasMore
    GetCatalogProductResponse:
      type: object
      properties:
        catalogProduct:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              description: The name of the catalog product
            description:
              type: string
              description: The description of the catalog product
            externalId:
              type: string
              description: The external ID of the catalog product
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
          required:
            - name
            - id
            - createdAt
            - updatedAt
      required:
        - catalogProduct
    UpdateCatalogProductRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: The name of the catalog product
        description:
          type: string
          description: The description of the catalog product
        externalId:
          type: string
          description: The external ID of the catalog product
      additionalProperties: false
    UpdateCatalogProductResponse:
      type: object
      properties:
        catalogProduct:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              description: The name of the catalog product
            description:
              type: string
              description: The description of the catalog product
            externalId:
              type: string
              description: The external ID of the catalog product
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
          required:
            - name
            - id
            - createdAt
            - updatedAt
      required:
        - catalogProduct
    DeleteCatalogProductResponse:
      type: object
      properties:
        catalogProduct:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              description: The name of the catalog product
            description:
              type: string
              description: The description of the catalog product
            externalId:
              type: string
              description: The external ID of the catalog product
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            deletedAt:
              type: string
          required:
            - name
            - id
            - createdAt
            - updatedAt
            - deletedAt
      required:
        - catalogProduct
    Contact:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          pattern: ^(?!\.)[A-Za-z0-9_!#$%&'*+/=?^`{|}~-]+(?:\.[A-Za-z0-9_!#$%&'*+/=?^`{|}~-]+)*@([A-Za-z0-9]([A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z]{2,}$
        title:
          type: string
        phone:
          type: string
          pattern: ^\+?[1-9]\d{4,15}$
        receiveInvoiceEmail:
          type: boolean
    CustomerSource:
      type: string
      nullable: true
      enum:
        - Stripe
        - VayuEventsApi
        - Api
        - Salesforce
        - HubSpot
      description: The source of the customer
    CustomerCloudProviderSettings:
      type: object
      nullable: true
      properties:
        cloudProvider:
          type: string
          enum:
            - AWS
        cloudProviderMarketplaceId:
          type: string
        customerIdentifier:
          type: string
      description: Cloud provider settings for the customer
    Address:
      type: object
      nullable: true
      properties:
        country:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        addressText:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
      description: The address of the customer
    Currency:
      type: string
      nullable: true
      enum:
        - USD
        - EUR
        - GBP
        - ILS
        - CAD
        - AUD
        - COP
        - BRL
      description: The billing currency of the customer
    IntegrationEntityTypes:
      type: string
      enum:
        - Account
        - Invoice
        - SalesOrder
        - Item
        - Deal
        - Company
        - Opportunity
      description: The entity type in the integration (e.g., "Opportunity", "Deal")
    CustomFieldValueTypes:
      type: string
      enum:
        - String
        - Number
        - Boolean
        - Enum
      description: 'The type of the value: "String", "Number", or "Boolean"'
    CustomField:
      type: object
      properties:
        integrationSource:
          type: string
          enum:
            - NetSuite
            - QuickBooks
            - Stripe
            - Salesforce
            - Hubspot
            - Vayu
            - Slack
            - S3
            - Morning
            - Snowflake
            - Anrok
            - Connact
            - Xero
          description: The integration provider (e.g., "Salesforce", "HubSpot")
        integrationEntityType:
          $ref: "#/components/schemas/IntegrationEntityTypes"
        fieldPath:
          type: string
          description: The path to the field in the integration (e.g., "root.path.field")
        vayuCustomFieldName:
          type: string
          description: The name of the field in Vayu (e.g., "AE Name")
        valueType:
          $ref: "#/components/schemas/CustomFieldValueTypes"
        value:
          nullable: true
          description: The actual value of the custom field
      required:
        - vayuCustomFieldName
        - valueType
    CreateCustomerRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the customer
        aliases:
          type: array
          nullable: true
          items:
            type: string
          default: []
          description: The aliases of the customer used to match events to the customer.
        contacts:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/Contact"
          description: The contacts of the customer. Contact marked as primary is the
            target for invoice sharing.
        source:
          $ref: "#/components/schemas/CustomerSource"
        legalName:
          type: string
          nullable: true
          description: The legal name of the customer
        taxIds:
          type: array
          nullable: true
          items:
            type: string
          default: []
          description: The tax IDs of the customer
        taxId:
          type: string
          nullable: true
          description: The tax ID of the customer (deprecated, use taxIds instead)
          deprecated: true
        cloudProviderSettings:
          $ref: "#/components/schemas/CustomerCloudProviderSettings"
        externalId:
          type: string
          description: The external ID of the customer
        customerErpId:
          type: string
          nullable: true
          description: The ID of the customer in the ERP system
        address:
          $ref: "#/components/schemas/Address"
        salesForceAccountId:
          type: string
          nullable: true
          description: The ID of the customer in the Salesforce system
        dueDays:
          type: string
          nullable: true
          enum:
            - END_OF_MONTH
            - SAME_DAY
            - 15_DAYS
            - 30_DAYS
            - 45_DAYS
            - 60_DAYS
            - 90_DAYS
          description: The due days of the customer
        currency:
          $ref: "#/components/schemas/Currency"
        customFields:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/CustomField"
          description: Custom fields from CRM systems (Salesforce, HubSpot, etc.)
        subsidiary:
          type: string
          nullable: true
          description: The name of the subsidiary of the customer
        totalOutstandingAmount:
          type: number
          description: Total outstanding amount across all unpaid invoices (in USD)
        openAmount:
          type: number
          description: Total amount of invoices with no billing status set (in USD)
        overdueAmount:
          type: number
          description: Total amount of overdue invoices (in USD)
        pendingPaymentAmount:
          type: number
          description: Total amount of invoices pending payment (in USD)
        paidAmount:
          type: number
          description: Total amount of paid invoices (in USD)
      required:
        - name
    CreateCustomerResponse:
      type: object
      properties:
        customer:
          type: object
          properties:
            name:
              type: string
              description: The name of the customer
            aliases:
              type: array
              nullable: true
              items:
                type: string
              default: []
              description: The aliases of the customer used to match events to the customer.
            contacts:
              type: array
              nullable: true
              items:
                $ref: "#/components/schemas/Contact"
              description: The contacts of the customer. Contact marked as primary is the
                target for invoice sharing.
            source:
              $ref: "#/components/schemas/CustomerSource"
            legalName:
              type: string
              nullable: true
              description: The legal name of the customer
            taxIds:
              type: array
              nullable: true
              items:
                type: string
              default: []
              description: The tax IDs of the customer
            taxId:
              type: string
              nullable: true
              description: The tax ID of the customer (deprecated, use taxIds instead)
              deprecated: true
            cloudProviderSettings:
              $ref: "#/components/schemas/CustomerCloudProviderSettings"
            externalId:
              type: string
              description: The external ID of the customer
            customerErpId:
              type: string
              nullable: true
              description: The ID of the customer in the ERP system
            address:
              $ref: "#/components/schemas/Address"
            salesForceAccountId:
              type: string
              nullable: true
              description: The ID of the customer in the Salesforce system
            dueDays:
              type: string
              nullable: true
              enum:
                - END_OF_MONTH
                - SAME_DAY
                - 15_DAYS
                - 30_DAYS
                - 45_DAYS
                - 60_DAYS
                - 90_DAYS
              description: The due days of the customer
            currency:
              $ref: "#/components/schemas/Currency"
            customFields:
              type: array
              nullable: true
              items:
                $ref: "#/components/schemas/CustomField"
              description: Custom fields from CRM systems (Salesforce, HubSpot, etc.)
            subsidiary:
              type: string
              nullable: true
              description: The name of the subsidiary of the customer
            totalOutstandingAmount:
              type: number
              description: Total outstanding amount across all unpaid invoices (in USD)
            openAmount:
              type: number
              description: Total amount of invoices with no billing status set (in USD)
            overdueAmount:
              type: number
              description: Total amount of overdue invoices (in USD)
            pendingPaymentAmount:
              type: number
              description: Total amount of invoices pending payment (in USD)
            paidAmount:
              type: number
              description: Total amount of paid invoices (in USD)
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
          required:
            - name
            - id
            - createdAt
            - updatedAt
      required:
        - customer
    ListCustomersResponse:
      type: object
      properties:
        customers:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the customer
              aliases:
                type: array
                nullable: true
                items:
                  type: string
                default: []
                description: The aliases of the customer used to match events to the customer.
              contacts:
                type: array
                nullable: true
                items:
                  $ref: "#/components/schemas/Contact"
                description: The contacts of the customer. Contact marked as primary is the
                  target for invoice sharing.
              source:
                $ref: "#/components/schemas/CustomerSource"
              legalName:
                type: string
                nullable: true
                description: The legal name of the customer
              taxIds:
                type: array
                nullable: true
                items:
                  type: string
                default: []
                description: The tax IDs of the customer
              taxId:
                type: string
                nullable: true
                description: The tax ID of the customer (deprecated, use taxIds instead)
                deprecated: true
              cloudProviderSettings:
                $ref: "#/components/schemas/CustomerCloudProviderSettings"
              externalId:
                type: string
                description: The external ID of the customer
              customerErpId:
                type: string
                nullable: true
                description: The ID of the customer in the ERP system
              address:
                $ref: "#/components/schemas/Address"
              salesForceAccountId:
                type: string
                nullable: true
                description: The ID of the customer in the Salesforce system
              dueDays:
                type: string
                nullable: true
                enum:
                  - END_OF_MONTH
                  - SAME_DAY
                  - 15_DAYS
                  - 30_DAYS
                  - 45_DAYS
                  - 60_DAYS
                  - 90_DAYS
                description: The due days of the customer
              currency:
                $ref: "#/components/schemas/Currency"
              customFields:
                type: array
                nullable: true
                items:
                  $ref: "#/components/schemas/CustomField"
                description: Custom fields from CRM systems (Salesforce, HubSpot, etc.)
              subsidiary:
                type: string
                nullable: true
                description: The name of the subsidiary of the customer
              totalOutstandingAmount:
                type: number
                description: Total outstanding amount across all unpaid invoices (in USD)
              openAmount:
                type: number
                description: Total amount of invoices with no billing status set (in USD)
              overdueAmount:
                type: number
                description: Total amount of overdue invoices (in USD)
              pendingPaymentAmount:
                type: number
                description: Total amount of invoices pending payment (in USD)
              paidAmount:
                type: number
                description: Total amount of paid invoices (in USD)
              id:
                type: string
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
            required:
              - name
              - id
              - createdAt
              - updatedAt
        total:
          type: number
        hasMore:
          type: boolean
        nextCursor:
          type: string
      required:
        - customers
        - total
        - hasMore
    GetCustomerResponse:
      type: object
      properties:
        customer:
          type: object
          properties:
            name:
              type: string
              description: The name of the customer
            aliases:
              type: array
              nullable: true
              items:
                type: string
              default: []
              description: The aliases of the customer used to match events to the customer.
            contacts:
              type: array
              nullable: true
              items:
                $ref: "#/components/schemas/Contact"
              description: The contacts of the customer. Contact marked as primary is the
                target for invoice sharing.
            source:
              $ref: "#/components/schemas/CustomerSource"
            legalName:
              type: string
              nullable: true
              description: The legal name of the customer
            taxIds:
              type: array
              nullable: true
              items:
                type: string
              default: []
              description: The tax IDs of the customer
            taxId:
              type: string
              nullable: true
              description: The tax ID of the customer (deprecated, use taxIds instead)
              deprecated: true
            cloudProviderSettings:
              $ref: "#/components/schemas/CustomerCloudProviderSettings"
            externalId:
              type: string
              description: The external ID of the customer
            customerErpId:
              type: string
              nullable: true
              description: The ID of the customer in the ERP system
            address:
              $ref: "#/components/schemas/Address"
            salesForceAccountId:
              type: string
              nullable: true
              description: The ID of the customer in the Salesforce system
            dueDays:
              type: string
              nullable: true
              enum:
                - END_OF_MONTH
                - SAME_DAY
                - 15_DAYS
                - 30_DAYS
                - 45_DAYS
                - 60_DAYS
                - 90_DAYS
              description: The due days of the customer
            currency:
              $ref: "#/components/schemas/Currency"
            customFields:
              type: array
              nullable: true
              items:
                $ref: "#/components/schemas/CustomField"
              description: Custom fields from CRM systems (Salesforce, HubSpot, etc.)
            subsidiary:
              type: string
              nullable: true
              description: The name of the subsidiary of the customer
            totalOutstandingAmount:
              type: number
              description: Total outstanding amount across all unpaid invoices (in USD)
            openAmount:
              type: number
              description: Total amount of invoices with no billing status set (in USD)
            overdueAmount:
              type: number
              description: Total amount of overdue invoices (in USD)
            pendingPaymentAmount:
              type: number
              description: Total amount of invoices pending payment (in USD)
            paidAmount:
              type: number
              description: Total amount of paid invoices (in USD)
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
          required:
            - name
            - id
            - createdAt
            - updatedAt
      required:
        - customer
    UpdateCustomerRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the customer
        aliases:
          type: array
          nullable: true
          items:
            type: string
          default: []
          description: The aliases of the customer used to match events to the customer.
        contacts:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/Contact"
          description: The contacts of the customer. Contact marked as primary is the
            target for invoice sharing.
        source:
          $ref: "#/components/schemas/CustomerSource"
        legalName:
          type: string
          nullable: true
          description: The legal name of the customer
        taxIds:
          type: array
          nullable: true
          items:
            type: string
          default: []
          description: The tax IDs of the customer
        taxId:
          type: string
          nullable: true
          description: The tax ID of the customer (deprecated, use taxIds instead)
          deprecated: true
        cloudProviderSettings:
          $ref: "#/components/schemas/CustomerCloudProviderSettings"
        externalId:
          type: string
          description: The external ID of the customer
        customerErpId:
          type: string
          nullable: true
          description: The ID of the customer in the ERP system
        address:
          $ref: "#/components/schemas/Address"
        salesForceAccountId:
          type: string
          nullable: true
          description: The ID of the customer in the Salesforce system
        dueDays:
          type: string
          nullable: true
          enum:
            - END_OF_MONTH
            - SAME_DAY
            - 15_DAYS
            - 30_DAYS
            - 45_DAYS
            - 60_DAYS
            - 90_DAYS
          description: The due days of the customer
        currency:
          $ref: "#/components/schemas/Currency"
        customFields:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/CustomField"
          description: Custom fields from CRM systems (Salesforce, HubSpot, etc.)
        subsidiary:
          type: string
          nullable: true
          description: The name of the subsidiary of the customer
        totalOutstandingAmount:
          type: number
          description: Total outstanding amount across all unpaid invoices (in USD)
        openAmount:
          type: number
          description: Total amount of invoices with no billing status set (in USD)
        overdueAmount:
          type: number
          description: Total amount of overdue invoices (in USD)
        pendingPaymentAmount:
          type: number
          description: Total amount of invoices pending payment (in USD)
        paidAmount:
          type: number
          description: Total amount of paid invoices (in USD)
      additionalProperties: false
    UpdateCustomerResponse:
      type: object
      properties:
        customer:
          type: object
          properties:
            name:
              type: string
              description: The name of the customer
            aliases:
              type: array
              nullable: true
              items:
                type: string
              default: []
              description: The aliases of the customer used to match events to the customer.
            contacts:
              type: array
              nullable: true
              items:
                $ref: "#/components/schemas/Contact"
              description: The contacts of the customer. Contact marked as primary is the
                target for invoice sharing.
            source:
              $ref: "#/components/schemas/CustomerSource"
            legalName:
              type: string
              nullable: true
              description: The legal name of the customer
            taxIds:
              type: array
              nullable: true
              items:
                type: string
              default: []
              description: The tax IDs of the customer
            taxId:
              type: string
              nullable: true
              description: The tax ID of the customer (deprecated, use taxIds instead)
              deprecated: true
            cloudProviderSettings:
              $ref: "#/components/schemas/CustomerCloudProviderSettings"
            externalId:
              type: string
              description: The external ID of the customer
            customerErpId:
              type: string
              nullable: true
              description: The ID of the customer in the ERP system
            address:
              $ref: "#/components/schemas/Address"
            salesForceAccountId:
              type: string
              nullable: true
              description: The ID of the customer in the Salesforce system
            dueDays:
              type: string
              nullable: true
              enum:
                - END_OF_MONTH
                - SAME_DAY
                - 15_DAYS
                - 30_DAYS
                - 45_DAYS
                - 60_DAYS
                - 90_DAYS
              description: The due days of the customer
            currency:
              $ref: "#/components/schemas/Currency"
            customFields:
              type: array
              nullable: true
              items:
                $ref: "#/components/schemas/CustomField"
              description: Custom fields from CRM systems (Salesforce, HubSpot, etc.)
            subsidiary:
              type: string
              nullable: true
              description: The name of the subsidiary of the customer
            totalOutstandingAmount:
              type: number
              description: Total outstanding amount across all unpaid invoices (in USD)
            openAmount:
              type: number
              description: Total amount of invoices with no billing status set (in USD)
            overdueAmount:
              type: number
              description: Total amount of overdue invoices (in USD)
            pendingPaymentAmount:
              type: number
              description: Total amount of invoices pending payment (in USD)
            paidAmount:
              type: number
              description: Total amount of paid invoices (in USD)
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
          required:
            - name
            - id
            - createdAt
            - updatedAt
      required:
        - customer
    DeleteCustomerResponse:
      type: object
      properties:
        customer:
          type: object
          properties:
            name:
              type: string
              description: The name of the customer
            aliases:
              type: array
              nullable: true
              items:
                type: string
              default: []
              description: The aliases of the customer used to match events to the customer.
            contacts:
              type: array
              nullable: true
              items:
                $ref: "#/components/schemas/Contact"
              description: The contacts of the customer. Contact marked as primary is the
                target for invoice sharing.
            source:
              $ref: "#/components/schemas/CustomerSource"
            legalName:
              type: string
              nullable: true
              description: The legal name of the customer
            taxIds:
              type: array
              nullable: true
              items:
                type: string
              default: []
              description: The tax IDs of the customer
            taxId:
              type: string
              nullable: true
              description: The tax ID of the customer (deprecated, use taxIds instead)
              deprecated: true
            cloudProviderSettings:
              $ref: "#/components/schemas/CustomerCloudProviderSettings"
            externalId:
              type: string
              description: The external ID of the customer
            customerErpId:
              type: string
              nullable: true
              description: The ID of the customer in the ERP system
            address:
              $ref: "#/components/schemas/Address"
            salesForceAccountId:
              type: string
              nullable: true
              description: The ID of the customer in the Salesforce system
            dueDays:
              type: string
              nullable: true
              enum:
                - END_OF_MONTH
                - SAME_DAY
                - 15_DAYS
                - 30_DAYS
                - 45_DAYS
                - 60_DAYS
                - 90_DAYS
              description: The due days of the customer
            currency:
              $ref: "#/components/schemas/Currency"
            customFields:
              type: array
              nullable: true
              items:
                $ref: "#/components/schemas/CustomField"
              description: Custom fields from CRM systems (Salesforce, HubSpot, etc.)
            subsidiary:
              type: string
              nullable: true
              description: The name of the subsidiary of the customer
            totalOutstandingAmount:
              type: number
              description: Total outstanding amount across all unpaid invoices (in USD)
            openAmount:
              type: number
              description: Total amount of invoices with no billing status set (in USD)
            overdueAmount:
              type: number
              description: Total amount of overdue invoices (in USD)
            pendingPaymentAmount:
              type: number
              description: Total amount of invoices pending payment (in USD)
            paidAmount:
              type: number
              description: Total amount of paid invoices (in USD)
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            deletedAt:
              type: string
          required:
            - name
            - id
            - createdAt
            - updatedAt
            - deletedAt
      required:
        - customer
    AggregationOperator:
      type: string
      enum:
        - Count
        - Sum
        - Distinct
        - Max
        - Min
        - Average
        - First
        - Last
      description: The aggregation method defines how the events should be summed to
        represent a usage value.
    AggregationMethod:
      type: object
      properties:
        operator:
          $ref: "#/components/schemas/AggregationOperator"
        field:
          type: string
          description: The field inside the "data" property to apply the aggregation
            method to.
        instanceKey:
          type: string
          description: The fields that is used to group different events together when
            measuring the usage.
      required:
        - operator
      description: The aggregation method defines how the events should be summed to
        represent a usage value.
    CriterionOperator:
      type: string
      enum:
        - Equals
        - DoesntEqual
        - Has
        - In
        - Contains
        - DoesntContain
        - LargerThan
        - LowerThan
        - LowerEqualTo
        - LargerEqualTo
        - Exists
        - DoesntExists
    Criterion:
      type: object
      properties:
        field:
          type: string
          minLength: 1
        operator:
          $ref: "#/components/schemas/CriterionOperator"
        value:
          type: string
          minLength: 1
      required:
        - field
        - operator
        - value
    Condition:
      type: object
      properties:
        criterions:
          type: array
          items:
            $ref: "#/components/schemas/Criterion"
          minItems: 1
      required:
        - criterions
    Filter:
      type: object
      properties:
        conditions:
          type: array
          items:
            $ref: "#/components/schemas/Condition"
          minItems: 1
      required:
        - conditions
      description: >-
        The filter to apply to the events to be included in the meter.
            The filter object contains an array of Conditions, each condition represents a logical OR statement.
            Each condition contains an array of Criteria (criterions), each criterion represents a logical AND statement.
    GetMeterResponse:
      type: object
      properties:
        meter:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              description: The name of the meter
            eventName:
              type: string
              minLength: 1
              description: The name of the event that the meter is tracking.
            aggregationMethod:
              $ref: "#/components/schemas/AggregationMethod"
            filter:
              $ref: "#/components/schemas/Filter"
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
          required:
            - name
            - eventName
            - aggregationMethod
            - id
            - createdAt
            - updatedAt
      required:
        - meter
    UpdateMeterRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: The name of the meter
        eventName:
          type: string
          minLength: 1
          description: The name of the event that the meter is tracking.
        aggregationMethod:
          $ref: "#/components/schemas/AggregationMethod"
        filter:
          $ref: "#/components/schemas/Filter"
      additionalProperties: false
    UpdateMeterResponse:
      type: object
      properties:
        meter:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              description: The name of the meter
            eventName:
              type: string
              minLength: 1
              description: The name of the event that the meter is tracking.
            aggregationMethod:
              $ref: "#/components/schemas/AggregationMethod"
            filter:
              $ref: "#/components/schemas/Filter"
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
          required:
            - name
            - eventName
            - aggregationMethod
            - id
            - createdAt
            - updatedAt
      required:
        - meter
    DeleteMeterResponse:
      type: object
      properties:
        meter:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              description: The name of the meter
            eventName:
              type: string
              minLength: 1
              description: The name of the event that the meter is tracking.
            aggregationMethod:
              $ref: "#/components/schemas/AggregationMethod"
            filter:
              $ref: "#/components/schemas/Filter"
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            deletedAt:
              type: string
          required:
            - name
            - eventName
            - aggregationMethod
            - id
            - createdAt
            - updatedAt
            - deletedAt
      required:
        - meter
    ListMetersResponse:
      type: object
      properties:
        meters:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
                description: The name of the meter
              eventName:
                type: string
                minLength: 1
                description: The name of the event that the meter is tracking.
              aggregationMethod:
                $ref: "#/components/schemas/AggregationMethod"
              filter:
                $ref: "#/components/schemas/Filter"
              id:
                type: string
              createdAt:
                type: string
                format: date-time
              updatedAt:
                type: string
                format: date-time
            required:
              - name
              - eventName
              - aggregationMethod
              - id
              - createdAt
              - updatedAt
        total:
          type: number
        hasMore:
          type: boolean
        nextCursor:
          type: string
      required:
        - meters
        - total
        - hasMore
    ExternalUsageReset:
      type: integer
      nullable: true
      description: "Usage reset is represented in months and must be one of: 1, 2, 3, 6, 12"
    ExternalOverageStrategy:
      type: string
      nullable: true
      enum:
        - IGNORE
        - BLOCK
        - UPGRADE_PLAN
        - TOP_UP
      default: IGNORE
      description: The strategy to apply when the overage occurs
    PaymentTerm:
      type: string
      nullable: true
      enum:
        - Prepayment
        - Postpayment
      description: The payment term of the product. Can be prepayment or postpayment.
        If not provided, the payment term will be determined by the pricing
        model.
    ProductCloudProviderSettings:
      type: object
      nullable: true
      properties:
        cloudProvider:
          type: string
          enum:
            - AWS
        cloudProviderMarketplaceId:
          type: string
        dimension:
          type: string
      description: Cloud provider settings for the product
    ProductGroup:
      type: object
      properties:
        displayName:
          type: string
          description: The display name of the product
        description:
          type: string
          nullable: true
          description: The description of the product
        productErpId:
          type: string
          nullable: true
          description: The id of the product in NetSuite ERP
        nsClass:
          type: string
          nullable: true
          description: The class of the product in NetSuite ERP
        nsClassId:
          type: string
          nullable: true
          description: The id of the class of the product in NetSuite ERP
        products:
          type: array
          items:
            type: object
            properties:
              displayName:
                type: string
                description: The display name of the product
              description:
                type: string
                nullable: true
                description: The description of the product
              scheduling:
                type: object
                properties:
                  billingDay:
                    type: integer
                    minimum: 1
                    maximum: 31
                    default: 1
                    description: The day of the month that the product is billed
                  duration:
                    type: object
                    properties:
                      unit:
                        type: string
                        enum:
                          - DAY
                          - WEEK
                          - MONTH
                          - YEAR
                        default: MONTH
                      value:
                        type: integer
                        minimum: 0
                        maximum: 1000
                    required:
                      - unit
                      - value
                    description: The duration of the product
                required:
                  - duration
                description: The scheduling of the product
              pricing:
                oneOf:
                  - type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - ONE_TIME
                      price:
                        type: number
                        minimum: 0
                      discount:
                        type: object
                        nullable: true
                        properties:
                          name:
                            type: string
                            minLength: 1
                            description: The name of the discount. Will appear on the invoice.
                          type:
                            type: string
                            enum:
                              - FIXED
                              - PERCENTAGE
                            description: The type of discount — FIXED for a fixed amount, PERCENTAGE for a
                              percentage-based discount.
                          amount:
                            type: number
                            minimum: 0
                            description: The discount amount. Interpreted as a currency amount for FIXED or
                              a percentage for PERCENTAGE.
                          recurring:
                            type: integer
                            minimum: 1
                            description: The number of billing periods the discount applies for. If not
                              provided, the discount recurs indefinitely.
                        required:
                          - name
                          - type
                          - amount
                        description: An optional discount to apply to this product
                      isCreditPurchase:
                        type: boolean
                        description: Whether this one-time fee is a credit purchase. When true, the
                          product is treated as a prepaid credit that the
                          customer can use later. Defaults to false.
                    required:
                      - type
                      - price
                  - type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - CONTRACT_TERMS
                      price:
                        type: number
                        minimum: 0
                      installments:
                        type: array
                        nullable: true
                        items:
                          type: object
                          properties:
                            installmentDate:
                              type: string
                              format: date-time
                            amount:
                              type: number
                              minimum: 0
                          required:
                            - installmentDate
                            - amount
                      discount:
                        type: object
                        nullable: true
                        properties:
                          name:
                            type: string
                            minLength: 1
                            description: The name of the discount. Will appear on the invoice.
                          type:
                            type: string
                            enum:
                              - FIXED
                              - PERCENTAGE
                            description: The type of discount — FIXED for a fixed amount, PERCENTAGE for a
                              percentage-based discount.
                          amount:
                            type: number
                            minimum: 0
                            description: The discount amount. Interpreted as a currency amount for FIXED or
                              a percentage for PERCENTAGE.
                          recurring:
                            type: integer
                            minimum: 1
                            description: The number of billing periods the discount applies for. If not
                              provided, the discount recurs indefinitely.
                        required:
                          - name
                          - type
                          - amount
                        description: An optional discount to apply to this product
                    required:
                      - type
                      - price
                  - type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - SUBSCRIPTION
                      price:
                        type: number
                        minimum: 0
                      subscriptionCadence:
                        type: object
                        properties:
                          unit:
                            type: string
                            enum:
                              - DAY
                              - WEEK
                              - MONTH
                              - YEAR
                            default: MONTH
                          value:
                            type: integer
                            minimum: 0
                            maximum: 1000
                        required:
                          - unit
                          - value
                      discount:
                        type: object
                        nullable: true
                        properties:
                          name:
                            type: string
                            minLength: 1
                            description: The name of the discount. Will appear on the invoice.
                          type:
                            type: string
                            enum:
                              - FIXED
                              - PERCENTAGE
                            description: The type of discount — FIXED for a fixed amount, PERCENTAGE for a
                              percentage-based discount.
                          amount:
                            type: number
                            minimum: 0
                            description: The discount amount. Interpreted as a currency amount for FIXED or
                              a percentage for PERCENTAGE.
                          recurring:
                            type: integer
                            minimum: 1
                            description: The number of billing periods the discount applies for. If not
                              provided, the discount recurs indefinitely.
                        required:
                          - name
                          - type
                          - amount
                        description: An optional discount to apply to this product
                    required:
                      - type
                      - price
                      - subscriptionCadence
                  - type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - TIERED
                      tiers:
                        type: array
                        items:
                          type: object
                          properties:
                            fromInclusive:
                              type: number
                              minimum: 0
                            toExclusive:
                              type: number
                              nullable: true
                              minimum: 0
                            rate:
                              type: number
                              nullable: true
                              minimum: 0
                            flatFee:
                              type: number
                              nullable: true
                              minimum: 0
                            packageSize:
                              type: number
                              nullable: true
                              minimum: 0
                          required:
                            - fromInclusive
                      subscriptionCadence:
                        type: object
                        nullable: true
                        properties:
                          unit:
                            type: string
                            enum:
                              - DAY
                              - WEEK
                              - MONTH
                              - YEAR
                            default: MONTH
                          value:
                            type: integer
                            minimum: 0
                            maximum: 1000
                        required:
                          - unit
                          - value
                      autoUpgrade:
                        type: boolean
                        nullable: true
                      prorate:
                        type: boolean
                        nullable: true
                      isRevShare:
                        type: boolean
                        nullable: true
                      baseAmount:
                        type: number
                        nullable: true
                        minimum: 0
                      usageReset:
                        $ref: "#/components/schemas/ExternalUsageReset"
                    required:
                      - type
                      - tiers
                  - type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - PER_UNIT
                      price:
                        type: number
                        minimum: 0
                      chunkSize:
                        type: number
                        nullable: true
                        minimum: 0
                        exclusiveMinimum: true
                      usageReset:
                        $ref: "#/components/schemas/ExternalUsageReset"
                      baseAmount:
                        type: number
                        nullable: true
                        minimum: 0
                    required:
                      - type
                      - price
                  - type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - FIXED_DEDUCTION
                      amountToDeduct:
                        type: number
                        minimum: 0
                        description: The fixed amount to deduct
                      installments:
                        type: integer
                        minimum: 0
                        description: The number of installments to spread the deduction over
                    required:
                      - type
                      - amountToDeduct
                  - type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - PERCENTAGE_DEDUCTION
                      percentageToDeduct:
                        type: number
                        minimum: 0
                        description: The percentage to deduct
                      installments:
                        type: integer
                        minimum: 0
                        description: The number of installments to spread the deduction over
                    required:
                      - type
                      - percentageToDeduct
                description: The pricing of the product
              catalogProductId:
                type: string
                nullable: true
                description: The id of the a product from the catalog to connect the contract
                  product to
              productErpId:
                type: string
                nullable: true
                description: The id of the product in NetSuite ERP
              nsClass:
                type: string
                nullable: true
                description: The class of the product in NetSuite ERP
              nsClassId:
                type: string
                nullable: true
                description: The id of the class of the product in NetSuite ERP
              commitment:
                type: object
                nullable: true
                properties:
                  units:
                    type: number
                    minimum: 0
                    description: Units to commit the customer for
                  price:
                    type: number
                    nullable: true
                    minimum: 0
                    description: Price to charge the customer for the committed units
                  type:
                    type: string
                    enum:
                      - PRICE
                      - UNITS
                    default: UNITS
                    description: The type of commitment. UNITS means the commitment amount is in
                      units, PRICE means it is a monetary value. Defaults to
                      UNITS.
                  scheduling:
                    type: object
                    nullable: true
                    properties:
                      billingDay:
                        type: integer
                        minimum: 1
                        maximum: 31
                        default: 1
                        description: The day of the month for the commitment scheduling
                      duration:
                        type: object
                        properties:
                          unit:
                            type: string
                            enum:
                              - DAY
                              - WEEK
                              - MONTH
                              - YEAR
                            default: MONTH
                          value:
                            type: integer
                            minimum: 0
                            maximum: 1000
                        required:
                          - unit
                          - value
                        description: The duration of the commitment scheduling cycle. Unit must be MONTH
                          or YEAR.
                    required:
                      - duration
                    description: Scheduling for recurring commitment. Duration unit must be MONTH or
                      YEAR.
                  overageStrategy:
                    $ref: "#/components/schemas/ExternalOverageStrategy"
                required:
                  - units
                description: The commitment of the product
              paymentTerm:
                $ref: "#/components/schemas/PaymentTerm"
              isCalendarAligned:
                type: boolean
                description: Whether the invoicing period should be calendar aligned. If not
                  provided, it will default to false. ONE_TIME and
                  COMMERCIAL_TERMS pricing models cannot be calendar aligned.
                  This field is ignored if the product is part of a
                  ProductGroup.
              cloudProviderSettings:
                $ref: "#/components/schemas/ProductCloudProviderSettings"
            required:
              - displayName
              - scheduling
              - pricing
          minItems: 1
          description: The products that the product group is associated with
        baseAmount:
          type: number
          nullable: true
          description: The base amount for the customer to pay even if the amount based on
            usage is lower
        commitment:
          type: object
          nullable: true
          properties:
            units:
              type: number
              minimum: 0
              description: Units to commit the customer for
            price:
              type: number
              nullable: true
              minimum: 0
              description: Price to charge the customer for the committed units
            type:
              type: string
              enum:
                - PRICE
                - UNITS
              default: UNITS
              description: The type of commitment. UNITS means the commitment amount is in
                units, PRICE means it is a monetary value. Defaults to UNITS.
            scheduling:
              type: object
              nullable: true
              properties:
                billingDay:
                  type: integer
                  minimum: 1
                  maximum: 31
                  default: 1
                  description: The day of the month for the commitment scheduling
                duration:
                  type: object
                  properties:
                    unit:
                      type: string
                      enum:
                        - DAY
                        - WEEK
                        - MONTH
                        - YEAR
                      default: MONTH
                    value:
                      type: integer
                      minimum: 0
                      maximum: 1000
                  required:
                    - unit
                    - value
                  description: The duration of the commitment scheduling cycle. Unit must be MONTH
                    or YEAR.
              required:
                - duration
              description: Scheduling for recurring commitment. Duration unit must be MONTH or
                YEAR.
            overageStrategy:
              $ref: "#/components/schemas/ExternalOverageStrategy"
          required:
            - units
          description: The commitment of the product group. units are aggregated for all
            products in the group
        isCalendarAligned:
          type: boolean
          description: Whether the invoicing period should be calendar aligned. If not
            provided, it will default to false. ONE_TIME and COMMERCIAL_TERMS
            pricing models cannot be calendar aligned.
      required:
        - displayName
        - products
    CustomFieldValue:
      type: object
      properties:
        customFieldDefinitionId:
          type: string
        value:
          type: string
        fieldName:
          type: string
      required:
        - customFieldDefinitionId
    ContractStatus:
      type: string
      enum:
        - InReview
        - Active
        - Inactive
        - Expired
        - Terminated
        - PendingTermination
        - Error
      description: The status of the contract
    GetContractResponse:
      type: object
      properties:
        contract:
          type: object
          properties:
            startDate:
              type: string
              description: The start date of the contract
              format: date-time
            customerId:
              type: string
              pattern: ^[0-9a-fA-F]{24}$
              description: The id of the customer that the contract is associated with
            name:
              type: string
              description: The name of the contract
            salesForceOpportunityId:
              type: string
              nullable: true
              description: The id of the sales force opportunity that the contract is
                associated with
            endDate:
              type: string
              nullable: true
              description: The end date of the contract
              format: date-time
            signatureDate:
              type: string
              nullable: true
              description: The signature date of the contract
              format: date-time
            products:
              type: array
              items:
                type: object
                properties:
                  displayName:
                    type: string
                    description: The display name of the product
                  description:
                    type: string
                    nullable: true
                    description: The description of the product
                  scheduling:
                    type: object
                    properties:
                      billingDay:
                        type: integer
                        minimum: 1
                        maximum: 31
                        default: 1
                        description: The day of the month that the product is billed
                      duration:
                        type: object
                        properties:
                          unit:
                            type: string
                            enum:
                              - DAY
                              - WEEK
                              - MONTH
                              - YEAR
                            default: MONTH
                          value:
                            type: integer
                            minimum: 0
                            maximum: 1000
                        required:
                          - unit
                          - value
                        description: The duration of the product
                    required:
                      - duration
                    description: The scheduling of the product
                  pricing:
                    oneOf:
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
                              - ONE_TIME
                          price:
                            type: number
                            minimum: 0
                          discount:
                            type: object
                            nullable: true
                            properties:
                              name:
                                type: string
                                minLength: 1
                                description: The name of the discount. Will appear on the invoice.
                              type:
                                type: string
                                enum:
                                  - FIXED
                                  - PERCENTAGE
                                description: The type of discount — FIXED for a fixed amount, PERCENTAGE for a
                                  percentage-based discount.
                              amount:
                                type: number
                                minimum: 0
                                description: The discount amount. Interpreted as a currency amount for FIXED or
                                  a percentage for PERCENTAGE.
                              recurring:
                                type: integer
                                minimum: 1
                                description: The number of billing periods the discount applies for. If not
                                  provided, the discount recurs indefinitely.
                            required:
                              - name
                              - type
                              - amount
                            description: An optional discount to apply to this product
                          isCreditPurchase:
                            type: boolean
                            description: Whether this one-time fee is a credit purchase. When true, the
                              product is treated as a prepaid credit that the
                              customer can use later. Defaults to false.
                        required:
                          - type
                          - price
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
                              - CONTRACT_TERMS
                          price:
                            type: number
                            minimum: 0
                          installments:
                            type: array
                            nullable: true
                            items:
                              type: object
                              properties:
                                installmentDate:
                                  type: string
                                  format: date-time
                                amount:
                                  type: number
                                  minimum: 0
                              required:
                                - installmentDate
                                - amount
                          discount:
                            type: object
                            nullable: true
                            properties:
                              name:
                                type: string
                                minLength: 1
                                description: The name of the discount. Will appear on the invoice.
                              type:
                                type: string
                                enum:
                                  - FIXED
                                  - PERCENTAGE
                                description: The type of discount — FIXED for a fixed amount, PERCENTAGE for a
                                  percentage-based discount.
                              amount:
                                type: number
                                minimum: 0
                                description: The discount amount. Interpreted as a currency amount for FIXED or
                                  a percentage for PERCENTAGE.
                              recurring:
                                type: integer
                                minimum: 1
                                description: The number of billing periods the discount applies for. If not
                                  provided, the discount recurs indefinitely.
                            required:
                              - name
                              - type
                              - amount
                            description: An optional discount to apply to this product
                        required:
                          - type
                          - price
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
                              - SUBSCRIPTION
                          price:
                            type: number
                            minimum: 0
                          subscriptionCadence:
                            type: object
                            properties:
                              unit:
                                type: string
                                enum:
                                  - DAY
                                  - WEEK
                                  - MONTH
                                  - YEAR
                                default: MONTH
                              value:
                                type: integer
                                minimum: 0
                                maximum: 1000
                            required:
                              - unit
                              - value
                          discount:
                            type: object
                            nullable: true
                            properties:
                              name:
                                type: string
                                minLength: 1
                                description: The name of the discount. Will appear on the invoice.
                              type:
                                type: string
                                enum:
                                  - FIXED
                                  - PERCENTAGE
                                description: The type of discount — FIXED for a fixed amount, PERCENTAGE for a
                                  percentage-based discount.
                              amount:
                                type: number
                                minimum: 0
                                description: The discount amount. Interpreted as a currency amount for FIXED or
                                  a percentage for PERCENTAGE.
                              recurring:
                                type: integer
                                minimum: 1
                                description: The number of billing periods the discount applies for. If not
                                  provided, the discount recurs indefinitely.
                            required:
                              - name
                              - type
                              - amount
                            description: An optional discount to apply to this product
                        required:
                          - type
                          - price
                          - subscriptionCadence
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
                              - TIERED
                          tiers:
                            type: array
                            items:
                              type: object
                              properties:
                                fromInclusive:
                                  type: number
                                  minimum: 0
                                toExclusive:
                                  type: number
                                  nullable: true
                                  minimum: 0
                                rate:
                                  type: number
                                  nullable: true
                                  minimum: 0
                                flatFee:
                                  type: number
                                  nullable: true
                                  minimum: 0
                                packageSize:
                                  type: number
                                  nullable: true
                                  minimum: 0
                              required:
                                - fromInclusive
                          subscriptionCadence:
                            type: object
                            nullable: true
                            properties:
                              unit:
                                type: string
                                enum:
                                  - DAY
                                  - WEEK
                                  - MONTH
                                  - YEAR
                                default: MONTH
                              value:
                                type: integer
                                minimum: 0
                                maximum: 1000
                            required:
                              - unit
                              - value
                          autoUpgrade:
                            type: boolean
                            nullable: true
                          prorate:
                            type: boolean
                            nullable: true
                          isRevShare:
                            type: boolean
                            nullable: true
                          baseAmount:
                            type: number
                            nullable: true
                            minimum: 0
                          usageReset:
                            $ref: "#/components/schemas/ExternalUsageReset"
                        required:
                          - type
                          - tiers
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
                              - PER_UNIT
                          price:
                            type: number
                            minimum: 0
                          chunkSize:
                            type: number
                            nullable: true
                            minimum: 0
                            exclusiveMinimum: true
                          usageReset:
                            $ref: "#/components/schemas/ExternalUsageReset"
                          baseAmount:
                            type: number
                            nullable: true
                            minimum: 0
                        required:
                          - type
                          - price
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
[...]
